# Filtering Operations Using Pandas

In [1]:
# import essential libraries
import pandas as pd
import numpy as np

In [3]:
data = np.random.randint(10,100, (15, 5))
print("********************** DataFrame **********************")
#  convert series to dataframe
df = pd.DataFrame(data, columns = ["Column1","Column2", "Column3", "Column4", "Column5"])
print(df)

********************** DataFrame **********************
    Column1  Column2  Column3  Column4  Column5
0        78       70       67       43       47
1        55       61       53       90       84
2        21       29       70       48       25
3        58       83       50       57       83
4        71       92       50       23       37
5        56       20       52       19       89
6        65       63       84       70       93
7        87       75       57       20       78
8        75       80       62       29       72
9        71       57       14       60       31
10       87       15       31       71       55
11       14       59       13       13       68
12       18       23       30       72       82
13       80       81       89       33       35
14       98       53       12       22       83

In [11]:
# select columns
df_columns = df.columns
print("********************************** Columns **********************************")
print(df_columns)
print("*"*77)

print("*"*31, "Row Information","*"*31 )
print("First Five Rows:\n")
first_five_rows = df.head()
last_five_rows = df.tail()
print(first_five_rows)
print("*"*77)
print("Last Five Rows:\n")
print(last_five_rows)
print("*"*77)
# print(len("********************************** Columns **********************************")) 77

********************************** Columns **********************************
Index(['Column1', 'Column2', 'Column3', 'Column4', 'Column5'], dtype='object')
*****************************************************************************
******************************* Row Information *******************************
First Five Rows:

   Column1  Column2  Column3  Column4  Column5
0       78       70       67       43       47
1       55       61       53       90       84
2       21       29       70       48       25
3       58       83       50       57       83
4       71       92       50       23       37
*****************************************************************************
Last Five Rows:

    Column1  Column2  Column3  Column4  Column5
10       87       15       31       71       55
11       14       59       13       13       68
12       18       23       30       72       82
13       80       81       89       33       35
14       98       53       12       22       83
*****************************************************************************

In [ ]:
# select column
column1 = df["Column1"].head()
print("********** Column1 **********")
print(column1)

# df.Column1.head()

********** Column1 **********
0    78
1    55
2    21
3    58
4    71
Name: Column1, dtype: int32

In [13]:
multi_columns = df[["Column1", "Column3","Column5"]].head()
print("************ Selected Columns ************")
print(multi_columns)

************ Selected Columns ************
   Column1  Column3  Column5
0       78       67       47
1       55       53       84
2       21       70       25
3       58       50       83
4       71       50       37

In [14]:
select_multi_row_and_col = df[10 : 15][["Column2","Column4"]].head()
print("************ Selected Rows and Cols ************")
print(select_multi_row_and_col)

************ Selected Rows and Cols ************
    Column2  Column4
10       15       71
11       59       13
12       23       72
13       81       33
14       53       22

In [15]:
# Filtering Operations
greater_than_60 = df > 60
print("************* Elements Greater Than 60 *************")
print(df[greater_than_60])

************* Elements Greater Than 60 *************
    Column1  Column2  Column3  Column4  Column5
0      78.0     70.0     67.0      NaN      NaN
1       NaN     61.0      NaN     90.0     84.0
2       NaN      NaN     70.0      NaN      NaN
3       NaN     83.0      NaN      NaN     83.0
4      71.0     92.0      NaN      NaN      NaN
5       NaN      NaN      NaN      NaN     89.0
6      65.0     63.0     84.0     70.0     93.0
7      87.0     75.0      NaN      NaN     78.0
8      75.0     80.0     62.0      NaN     72.0
9      71.0      NaN      NaN      NaN      NaN
10     87.0      NaN      NaN     71.0      NaN
11      NaN      NaN      NaN      NaN     68.0
12      NaN      NaN      NaN     72.0     82.0
13     80.0     81.0     89.0      NaN      NaN
14     98.0      NaN      NaN      NaN     83.0

In [16]:
even_elements = df % 2 == 0
print("********************* Even Elements *********************")
print(df[even_elements])

********************* Even Elements *********************
    Column1  Column2  Column3  Column4  Column5
0      78.0     70.0      NaN      NaN      NaN
1       NaN      NaN      NaN     90.0     84.0
2       NaN      NaN     70.0     48.0      NaN
3      58.0      NaN     50.0      NaN      NaN
4       NaN     92.0     50.0      NaN      NaN
5      56.0     20.0     52.0      NaN      NaN
6       NaN      NaN     84.0     70.0      NaN
7       NaN      NaN      NaN     20.0     78.0
8       NaN     80.0     62.0      NaN     72.0
9       NaN      NaN     14.0     60.0      NaN
10      NaN      NaN      NaN      NaN      NaN
11     14.0      NaN      NaN      NaN     68.0
12     18.0      NaN     30.0     72.0     82.0
13     80.0      NaN      NaN      NaN      NaN
14     98.0      NaN     12.0     22.0      NaN

In [18]:
filtering_example1 = df["Column1"] < 30
print(filtering_example1)
print("*"*50)
print(df[filtering_example1])

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12     True
13    False
14    False
Name: Column1, dtype: bool
**************************************************
    Column1  Column2  Column3  Column4  Column5
2        21       29       70       48       25
11       14       59       13       13       68
12       18       23       30       72       82

In [19]:
filtering_example2 = df[df["Column4"] < 45][["Column1","Column4", "Column5"]]
print("****************** Example of Pandas Filtering ******************")
print(filtering_example2)

****************** Example of Pandas Filtering ******************
    Column1  Column4  Column5
0        78       43       47
4        71       23       37
5        56       19       89
7        87       20       78
8        75       29       72
11       14       13       68
13       80       33       35
14       98       22       83

In [ ]:
# using add operator
filtering_example3 = df[(df["Column1"] < 80) & (df["Column2"] < 45) & (df["Column5"] <= 41)].head()
print("******************* Filtering Example3 *******************")
print(filtering_example3)

******************* Filtering Example3 *******************
   Column1  Column2  Column3  Column4  Column5
2       21       29       70       48       25

In [27]:
# using or operator
filtering_example4 = df[(df["Column2"] <= 20) | (df["Column5"] >= 74)]
print("******************* Filtering Example4 *******************")
print(filtering_example4)

******************* Filtering Example4 *******************
    Column1  Column2  Column3  Column4  Column5
1        55       61       53       90       84
3        58       83       50       57       83
5        56       20       52       19       89
6        65       63       84       70       93
7        87       75       57       20       78
10       87       15       31       71       55
12       18       23       30       72       82
14       98       53       12       22       83

In [28]:
# using query
filtering_example5 = df.query("Column3 >= 35 & Column1 %2 == 1")
print("******************* Filtering Example5 *******************")
print(filtering_example5)

******************* Filtering Example5 *******************
   Column1  Column2  Column3  Column4  Column5
1       55       61       53       90       84
2       21       29       70       48       25
4       71       92       50       23       37
6       65       63       84       70       93
7       87       75       57       20       78
8       75       80       62       29       72

In [31]:
filtering_example6 = df.query("Column1 >= 20 & Column2 <= 60")[["Column1", "Column2","Column5"]]
print("******************* Filtering Example6 *******************")
print(filtering_example6)

******************* Filtering Example6 *******************
    Column1  Column2  Column5
2        21       29       25
5        56       20       89
9        71       57       31
10       87       15       55
14       98       53       83