# Pandas DataFrame Methods

In [21]:
# import libraries
import numpy as np
import pandas as pd

In [22]:
data = {
    "Car_Brand": ["BMW","Mercedes","Fiat","Nissan","Audi","Suzuki","BYD","TESLA","Porsche","Mercedes","Ford","BYD","TESLA","BMW","Suzuki","BMW"],
    "Car_Model": ["X7","C180","Punto","Qashqai","A3","Swift","Dolphin","S","Cayman","A180","Mustang","Atto3","Y","i5","Swift","i4"], 
    "Stock_Quantity":[1200, 1800, 5000, 4200, 2800, 20, 150, 10, 3, 6500, 2, 50, 15, 3150, 480, 3800],
    "Model_Year": ["2023","2016","2012","2015","2018","2019","2024","2022","2008","2014","2008","2016","2023","2025","2019","2022"]
}

df_cars = pd.DataFrame(data = data)
df_cars.head(10)

  Car_Brand Car_Model  Stock_Quantity Model_Year
0       BMW        X7            1200       2023
1  Mercedes      C180            1800       2016
2      Fiat     Punto            5000       2012
3    Nissan   Qashqai            4200       2015
4      Audi        A3            2800       2018
5    Suzuki     Swift              20       2019
6       BYD   Dolphin             150       2024
7     TESLA         S              10       2022
8   Porsche    Cayman               3       2008
9  Mercedes      A180            6500       2014

In [23]:
df_unique = df_cars["Car_Brand"].unique()
print("***************************** Unique Car Brands *****************************\n")
print(df_unique,"\n")
print("*"*77)

df_number_of_unique = df_cars["Car_Brand"].nunique()
print(f"Number of Unique Values in Car_Brand Column: {df_number_of_unique}\n")
#print("*"*len("***************************** Unique Car Brands *****************************")) => 77

***************************** Unique Car Brands *****************************

['BMW' 'Mercedes' 'Fiat' 'Nissan' 'Audi' 'Suzuki' 'BYD' 'TESLA' 'Porsche'
 'Ford']

*****************************************************************************
Number of Unique Values in Car_Brand Column: 10

In [24]:
df_cars_value_counts = df_cars["Car_Brand"].value_counts()
df_years_value_counts = df_cars["Model_Year"].value_counts()
print("****************************** Examples of Value Count() ******************************")
print(df_cars_value_counts,"\n")
# print(len("****************************** Examples of Value Count() ******************************"))87
print("*"*87)
print(df_years_value_counts,"\n")
print("*"*87)

****************************** Examples of Value Count() ******************************
Car_Brand
BMW         3
Mercedes    2
Suzuki      2
BYD         2
TESLA       2
Fiat        1
Nissan      1
Audi        1
Porsche     1
Ford        1
Name: count, dtype: int64

***************************************************************************************
Model_Year
2023    2
2016    2
2019    2
2022    2
2008    2
2012    1
2015    1
2018    1
2024    1
2014    1
2025    1
Name: count, dtype: int64

***************************************************************************************

In [29]:
# apply method
def increase_stock(stock_count):
    stock_count += 10
    return stock_count 

df_cars_copy = df_cars.copy()
df_cars_copy["Stock_Quantity"] = df_cars_copy["Stock_Quantity"].apply(increase_stock)
df_cars_copy.head()

  Car_Brand Car_Model  Stock_Quantity Model_Year
0       BMW        X7            1210       2023
1  Mercedes      C180            1810       2016
2      Fiat     Punto            5010       2012
3    Nissan   Qashqai            4210       2015
4      Audi        A3            2810       2018

In [32]:
decrease_stock = lambda stock: stock - 10
df_cars_copy["Stock_Quantity"] = df_cars_copy["Stock_Quantity"].apply(decrease_stock)
df_cars_copy.head()

  Car_Brand Car_Model  Stock_Quantity Model_Year
0       BMW        X7            1200       2023
1  Mercedes      C180            1800       2016
2      Fiat     Punto            5000       2012
3    Nissan   Qashqai            4200       2015
4      Audi        A3            2800       2018

In [34]:
# columns and incex attribute in Pandas
num_of_columns = len(df_cars.columns)
print(f"Number of Columns: {num_of_columns}\n")

df_cars_index = df_cars.index
print(f"Index of df_cars: {df_cars_index}\n")

len_index = len(df_cars.index)
print(f"Length of df_cars: {len_index}")

Number of Columns: 4

Index of df_cars: RangeIndex(start=0, stop=16, step=1)

Length of df_cars: 16

In [42]:
# info attribute
df_cars_info = df_cars.info
print("************************************** Info **************************************")
print(df_cars_info)
print("*"*82)

************************************** Info **************************************
<bound method DataFrame.info of    Car_Brand Car_Model  Stock_Quantity Model_Year
0        BMW        X7            1200       2023
1   Mercedes      C180            1800       2016
2       Fiat     Punto            5000       2012
3     Nissan   Qashqai            4200       2015
4       Audi        A3            2800       2018
5     Suzuki     Swift              20       2019
6        BYD   Dolphin             150       2024
7      TESLA         S              10       2022
8    Porsche    Cayman               3       2008
9   Mercedes      A180            6500       2014
10      Ford   Mustang               2       2008
11       BYD     Atto3              50       2016
12     TESLA         Y              15       2023
13       BMW        i5            3150       2025
14    Suzuki     Swift             480       2019
15       BMW        i4            3800       2022>
**********************************************************************************

In [ ]:
# sort values
df_cars_sorted = df_cars.sort_values("Model_Year") # default value => ascending = True
print(df_cars_sorted)

   Car_Brand Car_Model  Stock_Quantity Model_Year
8    Porsche    Cayman               3       2008
10      Ford   Mustang               2       2008
2       Fiat     Punto            5000       2012
9   Mercedes      A180            6500       2014
3     Nissan   Qashqai            4200       2015
1   Mercedes      C180            1800       2016
11       BYD     Atto3              50       2016
4       Audi        A3            2800       2018
5     Suzuki     Swift              20       2019
14    Suzuki     Swift             480       2019
7      TESLA         S              10       2022
15       BMW        i4            3800       2022
0        BMW        X7            1200       2023
12     TESLA         Y              15       2023
6        BYD   Dolphin             150       2024
13       BMW        i5            3150       2025

In [46]:
df_cars_stock_sorted = df_cars.sort_values("Stock_Quantity",ascending = False)
print(df_cars_stock_sorted)

   Car_Brand Car_Model  Stock_Quantity Model_Year
9   Mercedes      A180            6500       2014
2       Fiat     Punto            5000       2012
3     Nissan   Qashqai            4200       2015
15       BMW        i4            3800       2022
13       BMW        i5            3150       2025
4       Audi        A3            2800       2018
1   Mercedes      C180            1800       2016
0        BMW        X7            1200       2023
14    Suzuki     Swift             480       2019
6        BYD   Dolphin             150       2024
11       BYD     Atto3              50       2016
5     Suzuki     Swift              20       2019
12     TESLA         Y              15       2023
7      TESLA         S              10       2022
8    Porsche    Cayman               3       2008
10      Ford   Mustang               2       2008

In [ ]:
# pivot table
book_data = {
    #"Author": ["J. K. Rowling","J.K.Rowling","George R. R. Martin","George R. R. Martin",]
    "Book_Name": ["Bag of Bones","I Know This Much Is True","Harry Potter and the Chamber of Secrets", "The Poisonwood Bible","A Clash of Kings","Holes","Harry Potter and the Prisoner of Azkaban","Hannibal","Tis: A Memoir", "The Testament","Harry Potter and the Goblet of Fire"," Angels & Demons","The Tipping Point: How Little Things Can Make a Big Difference","Me Talk Pretty One Day"],
    "Release_Date": ["1998","1998","1998","1998","1998","1998","1999","1999","1999","1999","2000","2000","2000","2000"],
    "Number_of_Sales": [1500000, 800000, 8000000, 450000, 1500000, 240000, 6500000, 580000, 120000, 80000, 5600000, 2500000, 600000, 140000]
}
df = pd.DataFrame(book_data)

# set options
pd.set_option("display.width",1000)

df_pivot_table = df.pivot_table(values = "Number_of_Sales", index = "Release_Date", columns = "Book_Name")
print(df_pivot_table)

In [50]:
sales_data = {
    "Category_Name": ["Telecommunications and Computing","Telecommunications and Computing","Telecommunications and Computing","Food and Beverage","Food and Beverage","Food and Beverage","Pharmaceuticals","Pharmaceuticals","Pharmaceuticals"],
    "Month":["January","February","March","March","January","February","February","March","January"],
    "Total_Sales": [1500000, 1650000, 1450000, 540000, 680000, 256000, 42000, 68000, 54000]
}

df_sales = pd.DataFrame(sales_data)
df_sales_pivot = df_sales.pivot(values = "Total_Sales",index = "Month", columns = "Category_Name")
print(df_sales_pivot)

Category_Name  Food and Beverage  Pharmaceuticals  Telecommunications and Computing
Month
February                  256000            42000                           1650000
January                   680000            54000                           1500000
March                     540000            68000                           1450000