# Group By Examples Using Pandas

# 1. What is groupby() in Python?
In Python, especially when using the Pandas library, groupby() is a method used to group data based on one or more columns. After grouping, you can apply aggregate functions (like sum(), mean(), count(), etc.) to each group separately.

# 2. Why do we use groupby()?
We use groupby() to:

Summarize data for each group.

Analyze patterns across categories (e.g., by year, by type, by gender).

Perform aggregate calculations efficiently on subsets of the data.

In [1]:
# import libraries
import pandas as pd
import numpy as np

In [13]:
# create a dataset
employee_data = {
    "Name": ["Emre Üstübeç","Taci Duran","Sedat Keklik", "Canfeza Katır", "Duran Emmi","Halide Gülen","Fatma Darılan", "Necati Unut","Bahriye Sezer","Recep Üzülmez"],
    "Department": ["IT","HR","Marketing","Sales", "HR","Finance","Accounting","Business Development","Project Management","Accounting"],
    "Age": [26, 21, 47, 64, 34, 45, 21, 19, 69, 32],
    "District": ["Süleymanpaşa","Buca","Foça","Fethiye","Tuzla","Gönen","Kızılay", "Süleymanpaşa","Muratpaşa","Gönen"],
    "Salary": [35000, 28000, 44000, 62000, 34000, 56000, 26000, 220000 ,90000, 38500 ],
    "Experience": [5, 1, 25, 48, 12, 20, 2, 0, 49, 14]
    
}

df = pd.DataFrame(employee_data)
df.head()

            Name Department  Age      District  Salary  Experience
0   Emre Üstübeç         IT   26  Süleymanpaşa   35000           5
1     Taci Duran         HR   21          Buca   28000           1
2   Sedat Keklik  Marketing   47          Foça   44000          25
3  Canfeza Katır      Sales   64       Fethiye   62000          48
4     Duran Emmi         HR   34         Tuzla   34000          12

In [14]:
# Groupby Examples
groupby_example1 = df.groupby("Department").groups
print(groupby_example1) 
print("*"*50)
groupby_example2 = df.groupby(["Department","District"]).groups
print(groupby_example2)
print("*"*50)

{'Accounting': [6, 9], 'Business Development': [7], 'Finance': [5], 'HR': [1, 4], 'IT': [0], 'Marketing': [2], 'Project Management': [8], 'Sales': [3]}
**************************************************
{('Accounting', 'Gönen'): [9], ('Accounting', 'Kızılay'): [6], ('Business Development', 'Süleymanpaşa'): [7], ('Finance', 'Gönen'): [5], ('HR', 'Buca'): [1], ('HR', 'Tuzla'): [4], ('IT', 'Süleymanpaşa'): [0], ('Marketing', 'Foça'): [2], ('Project Management', 'Muratpaşa'): [8], ('Sales', 'Fethiye'): [3]}
**************************************************

In [15]:
# Districts
districts = df.groupby("District")
for name, group in districts:
    print(name, "\n", group)

print("*"*100)
departments = df.groupby("Department")
for name, group in departments:
    print(name,"\n", group)

Buca
          Name Department  Age District  Salary  Experience
1  Taci Duran         HR   21     Buca   28000           1
Fethiye
             Name Department  Age District  Salary  Experience
3  Canfeza Katır      Sales   64  Fethiye   62000          48
Foça
            Name Department  Age District  Salary  Experience
2  Sedat Keklik  Marketing   47     Foça   44000          25
Gönen
             Name  Department  Age District  Salary  Experience
5   Halide Gülen     Finance   45    Gönen   56000          20
9  Recep Üzülmez  Accounting   32    Gönen   38500          14
Kızılay
             Name  Department  Age District  Salary  Experience
6  Fatma Darılan  Accounting   21  Kızılay   26000           2
Muratpaşa
             Name          Department  Age   District  Salary  Experience
8  Bahriye Sezer  Project Management   69  Muratpaşa   90000          49
Süleymanpaşa
            Name            Department  Age      District  Salary  Experience
0  Emre Üstübeç                    IT   26  Süleymanpaşa   35000           5
7   Necati Unut  Business Development   19  Süleymanpaşa  220000           0
Tuzla
          Name Department  Age District  Salary  Experience
4  Duran Emmi         HR   34    Tuzla   34000          12
****************************************************************************************************
Accounting
             Name  Department  Age District  Salary  Experience
6  Fatma Darılan  Accounting   21  Kızılay   26000           2
9  Recep Üzülmez  Accounting   32    Gönen   38500          14
Business Development
           Name            Department  Age      District  Salary  Experience
7  Necati Unut  Business Development   19  Süleymanpaşa  220000           0
Finance
            Name Department  Age District  Salary  Experience
5  Halide Gülen    Finance   45    Gönen   56000          20
HR
          Name Department  Age District  Salary  Experience
1  Taci Duran         HR   21     Buca   28000           1
4  Duran Emmi         HR   34    Tuzla   34000          12
IT
            Name Department  Age      District  Salary  Experience
0  Emre Üstübeç         IT   26  Süleymanpaşa   35000           5
Marketing
            Name Department  Age District  Salary  Experience
2  Sedat Keklik  Marketing   47     Foça   44000          25
Project Management
             Name          Department  Age   District  Salary  Experience
8  Bahriye Sezer  Project Management   69  Muratpaşa   90000          49
Sales
             Name Department  Age District  Salary  Experience
3  Canfeza Katır      Sales   64  Fethiye   62000          48

In [18]:
# grouping by district
suleymanpasa = df.groupby("District").get_group("Süleymanpaşa")
print(suleymanpasa)

           Name            Department  Age      District  Salary  Experience
0  Emre Üstübeç                    IT   26  Süleymanpaşa   35000           5
7   Necati Unut  Business Development   19  Süleymanpaşa  220000           0

In [ ]:
# grouping by department
accounting = df.groupby("Department").get_group("Accounting")
print(accounting)

            Name  Department  Age District  Salary  Experience
6  Fatma Darılan  Accounting   21  Kızılay   26000           2
9  Recep Üzülmez  Accounting   32    Gönen   38500          14

In [26]:
# General groupby examples
sum_info = df.groupby("Department").sum()
salary_mean_info = df.groupby("Department")["Salary"].mean()
age_mean_info = df.groupby("Department")["Age"].mean()
experience_mean_info = df.groupby("Department")["Experience"].mean()
age_of_districs = df.groupby("District")["Age"].mean()
count_of_districts = df.groupby("District")["Name"].count()
print("******************* Employee's Statistical Info *******************")
print(f"General Sum Info: \n {sum_info}\n")
print(f"Mean of Salaries: \n {salary_mean_info}\n")
print(f"Mean of Ages: \n {age_mean_info}\n")
print(f"Mean of Experiences: \n {experience_mean_info}\n")
print(f"Average Age in Districts : \n {age_of_districs}\n")
print(f"Count of Employee's Districts: \n {count_of_districts}\n")

print("*"*len("******************* Employee's Statistical Info *******************"))

******************* Employee's Statistical Info *******************
General Sum Info:
                                             Name  Age      District  Salary  \
Department
Accounting            Fatma DarılanRecep Üzülmez   53  KızılayGönen   64500
Business Development                 Necati Unut   19  Süleymanpaşa  220000
Finance                             Halide Gülen   45         Gönen   56000
HR                          Taci DuranDuran Emmi   55     BucaTuzla   62000
IT                                  Emre Üstübeç   26  Süleymanpaşa   35000
Marketing                           Sedat Keklik   47          Foça   44000
Project Management                 Bahriye Sezer   69     Muratpaşa   90000
Sales                              Canfeza Katır   64       Fethiye   62000

                      Experience
Department
Accounting                    16
Business Development           0
Finance                       20
HR                            13
IT                             5
Marketing                     25
Project Management            49
Sales                         48

Mean of Salaries:
 Department
Accounting               32250.0
Business Development    220000.0
Finance                  56000.0
HR                       31000.0
IT                       35000.0
Marketing                44000.0
Project Management       90000.0
Sales                    62000.0
Name: Salary, dtype: float64

Mean of Ages:
 Department
Accounting              26.5
Business Development    19.0
Finance                 45.0
HR                      27.5
IT                      26.0
Marketing               47.0
Project Management      69.0
Sales                   64.0
Name: Age, dtype: float64

Mean of Experiences:
 Department
Accounting               8.0
Business Development     0.0
Finance                 20.0
HR                       6.5
IT                       5.0
Marketing               25.0
Project Management      49.0
Sales                   48.0
Name: Experience, dtype: float64

Average Age in Districts :
 District
Buca            21.0
Fethiye         64.0
Foça            47.0
Gönen           38.5
Kızılay         21.0
Muratpaşa       69.0
Süleymanpaşa    22.5
Tuzla           34.0
Name: Age, dtype: float64

Count of Employee's Districts:
 District
Buca            1
Fethiye         1
Foça            1
Gönen           2
Kızılay         1
Muratpaşa       1
Süleymanpaşa    2
Tuzla           1
Name: Name, dtype: int64

*******************************************************************

In [31]:
max_age = df["Age"].max()
print("Max Age")
print("*"*50)

max_age_of_department = df.groupby("Department")["Age"].max()
min_age_of_department = df.groupby("Department")["Age"].min()
max_salary_of_department = df.groupby("Department")["Salary"].max()
min_salary_of_department = df.groupby("Department")["Salary"].min()
min_salary_of_department = df.groupby("Department")["Salary"].min()
min_salary_in_accounting = df.groupby("Department")["Salary"].min()["Accounting"]
min_experience_in_hr = df.groupby("Department")["Experience"].min()["HR"]

print(f"Max Age: {max_age}\n")
print(f"Max Age of Department:\n {max_age_of_department}\n")
print(f"Min Age of Department:\n {min_age_of_department}\n")
print(f"Max Salary of Department:\n {max_salary_of_department}\n")
print(f"Min Salary of Department:\n {min_salary_of_department}\n")
print(f"Min Salary of Accounting: \n {min_salary_in_accounting}\n")
print(f"Min Experience in Human Resources: \n {min_experience_in_hr} year\n")

Max Age
**************************************************
Max Age: 69

Max Age of Department:
 Department
Accounting              32
Business Development    19
Finance                 45
HR                      34
IT                      26
Marketing               47
Project Management      69
Sales                   64
Name: Age, dtype: int64

Min Age of Department:
 Department
Accounting              21
Business Development    19
Finance                 45
HR                      21
IT                      26
Marketing               47
Project Management      69
Sales                   64
Name: Age, dtype: int64

Max Salary of Department:
 Department
Accounting               38500
Business Development    220000
Finance                  56000
HR                       34000
IT                       35000
Marketing                44000
Project Management       90000
Sales                    62000
Name: Salary, dtype: int64

Min Salary of Department:
 Department
Accounting               26000
Business Development    220000
Finance                  56000
HR                       28000
IT                       35000
Marketing                44000
Project Management       90000
Sales                    62000
Name: Salary, dtype: int64

Min Salary of Accounting:
 26000

Min Experience in Human Resources:
 1 year

In [40]:
# agg method
agg_example = df.groupby("Department")["Salary"].agg([np.sum, np.mean, np.max, np.min, np.std])#.loc["Accounting"]
print(agg_example)

                         sum      mean     max     min          std
Department
Accounting             64500   32250.0   38500   26000  8838.834765
Business Development  220000  220000.0  220000  220000          NaN
Finance                56000   56000.0   56000   56000          NaN
HR                     62000   31000.0   34000   28000  4242.640687
IT                     35000   35000.0   35000   35000          NaN
Marketing              44000   44000.0   44000   44000          NaN
Project Management     90000   90000.0   90000   90000          NaN
Sales                  62000   62000.0   62000   62000          NaN

C:\Users\Asus\AppData\Local\Temp\ipykernel_7592\3947058222.py:2: FutureWarning: The provided callable <function sum at 0x00000051019AF920> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  agg_example = df.groupby("Department")["Salary"].agg([np.sum, np.mean, np.max, np.min, np.std])#.loc["Accounting"]
C:\Users\Asus\AppData\Local\Temp\ipykernel_7592\3947058222.py:2: FutureWarning: The provided callable <function mean at 0x00000051019D0A40> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  agg_example = df.groupby("Department")["Salary"].agg([np.sum, np.mean, np.max, np.min, np.std])#.loc["Accounting"]
C:\Users\Asus\AppData\Local\Temp\ipykernel_7592\3947058222.py:2: FutureWarning: The provided callable <function max at 0x00000051019D0040> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  agg_example = df.groupby("Department")["Salary"].agg([np.sum, np.mean, np.max, np.min, np.std])#.loc["Accounting"]
C:\Users\Asus\AppData\Local\Temp\ipykernel_7592\3947058222.py:2: FutureWarning: The provided callable <function min at 0x00000051019D0180> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  agg_example = df.groupby("Department")["Salary"].agg([np.sum, np.mean, np.max, np.min, np.std])#.loc["Accounting"]
C:\Users\Asus\AppData\Local\Temp\ipykernel_7592\3947058222.py:2: FutureWarning: The provided callable <function std at 0x00000051019D0B80> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  agg_example = df.groupby("Department")["Salary"].agg([np.sum, np.mean, np.max, np.min, np.std])#.loc["Accounting"]