# Pandas Inclusive Question Examples
Please, use the nba_players dataset. If you don't have this dataset, you can download it from this link __[Kaggle NBA Players Since 1950](https://www.kaggle.com/datasets/drgilermo/nba-players-stats)__

## Questions you are asked to answer
- Question 1: 
> Get the first 20 record

- Question 2: 
> Get the total number of records

- Question 3: 
> Find the tallest paid player

- Question 4: 
> Find the shortest paid player

- Question 5: 
> Find the total height of all players 

- Question 6: 
> Find the average weight of all players

- Question 7: 
> FFind the name and university of the players who are younger than the average age

- Question 8: 
> Find the collage played by Don Carlson

- Question 9: 
> Find average height and weight information of players by collage

- Question 10: 
> Find average AGE information of players by collage

- Question 11:
> Find out how many different collage

- Question 12:
> Find out how many players play in each collage

- Question 13:
> Find players with 'eb' in their name

- Question 14:
> Find players whose names start with J

o Note:

Please, first try answering it yourself

In [5]:
# import libraries
import numpy as np
import pandas as pd

pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)
# pd.set_option("display.width", 500)

In [6]:
# load dataset
file_path = r"D:\PandasForDataAnalysis\datasets\nba_players.csv"
df = pd.read_csv(file_path)

# check the df 
if df is None:
    raise FileNotFoundError("File Path Not Found. Please Check Your File Path")

df.head()

,Player_ID,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [7]:
# 1.
first_twenty_rows = df.head(20)
print("*********************** First 20 Records ***********************\n")
print(first_twenty_rows)

*********************** First 20 Records ***********************

    Player_ID            Player  height  weight  \
0           0   Curly Armstrong   180.0    77.0
1           1      Cliff Barker   188.0    83.0
2           2     Leo Barnhorst   193.0    86.0
3           3        Ed Bartels   196.0    88.0
4           4       Ralph Beard   178.0    79.0
5           5        Gene Berce   180.0    79.0
6           6     Charlie Black   196.0    90.0
7           7       Nelson Bobb   183.0    77.0
8           8   Jake Bornheimer   196.0    90.0
9           9      Vince Boryla   196.0    95.0
10         10         Don Boven   193.0    95.0
11         11     Harry Boykoff   208.0   102.0
12         12       Joe Bradley   190.0    79.0
13         13       Bob Brannum   196.0    97.0
14         14        Carl Braun   196.0    81.0
15         15     Frankie Brian   185.0    81.0
16         16  Price Brookfield   193.0    83.0
17         17         Bob Brown   193.0    92.0
18         18        Jim Browne   208.0   106.0
19         19        Walt Budko   196.0    99.0

                            collage    born     birth_city   birth_state
0                Indiana University  1918.0            NaN           NaN
1            University of Kentucky  1921.0       Yorktown       Indiana
2          University of Notre Dame  1924.0            NaN           NaN
3   North Carolina State University  1925.0            NaN           NaN
4            University of Kentucky  1927.0    Hardinsburg      Kentucky
5              Marquette University  1926.0            NaN           NaN
6              University of Kansas  1921.0           Arco         Idaho
7                 Temple University  1924.0   Philadelphia  Pennsylvania
8                Muhlenberg College  1927.0  New Brunswick    New Jersey
9              University of Denver  1927.0   East Chicago       Indiana
10      Western Michigan University  1925.0      Kalamazoo      Michigan
11            St. John's University  1922.0       Brooklyn      New York
12        Oklahoma State University  1928.0     Washington      Oklahoma
13        Michigan State University  1925.0            NaN           NaN
14               Colgate University  1927.0       Brooklyn      New York
15       Louisiana State University  1923.0        Zachary     Louisiana
16        West Texas A&M University  1920.0       Floydada         Texas
17                 Miami University  1923.0     Versailles          Ohio
18                              NaN  1930.0     Midlothian      Illinois
19              Columbia University  1925.0        Kearney    New Jersey

In [8]:
# 2.
df_total_records = df.shape[0]
print(f"Total Records: {df_total_records}")

Total Records: 3922

In [19]:
# 3. 
tallest_player_height = df.height.max()
filtered = (df["height"] == tallest_player_height)
shortest_player = df[filtered][["Player_ID","Player"]]
print(f"Tallest Player's Height: {tallest_player_height}\n")
print("Player's Info:\n",shortest_player)

Tallest Player's Height: 231.0

Player's Info:
       Player_ID            Player
1711       1711        Manute Bol
2297       2297  Gheorghe Muresan

In [23]:
# 4
shortest_player_height = df.height.min()
filtered = (df["height"] == shortest_player_height)
shortest_player = df[filtered][["Player_ID","Player"]]
print(f"Shortest Player's Height: {shortest_player_height}\n")
print("Player's Info:\n",shortest_player)

Shortest Player's Height: 160.0

Player's Info:
       Player_ID         Player
1837       1837  Muggsy Bogues

In [24]:
# 5 
total_height = df["height"].sum()
print(f"Total Height: {total_height}")

Total Height: 779122.0

In [ ]:
# 6
average_weight = df["weight"].mean()
print(f"Average Weight: {average_weight}")

Average Weight: 94.78321856669217

In [51]:
# 7 add a new column 
import datetime as dt
df["Age"] = dt.datetime.now().year - df["born"]
df.tail()

# isnull
df["Age"].isnull().sum()
df[df["Age"].isnull()] # 223

df.dropna(thresh=4, inplace = True)
df["Age"].isnull().sum() # 0
df.head()

df["Age"] = df["Age"].astype("int64")
df["Age"].dtype 

# print(df["Age"].min()) # 28
# print(df["Age"].mean())

filtered = (df["Age"] < df["Age"].mean())
df[filtered][["Player","collage"]]

,Player,collage
1397,Joe Barry,Georgia Institute of Technology
1651,Charles Barkley*,Auburn University
1652,Cory Blackwell,University of Wisconsin
1669,Stuart Gray,"University of California, Los Angeles"
1675,Michael Jordan*,University of North Carolina
1679,Hakeem Olajuwon*,University of Houston
1707,Michael Adams,Boston College
1709,Benoit Benjamin,Creighton University
1712,Mike Brittain,University of South Carolina
1713,Terry Catledge,University of South Alabama
1714,Lorenzo Charles,North Carolina State University
1716,David Cooke,Saint Mary's College of California
1720,Joe Dumars*,McNeese State University
1727,Steve Harris,University of Tulsa
1733,Harold Keeling,Santa Clara University
1735,Jon Koncak,Southern Methodist University
1737,Karl Malone*,Louisiana Tech University
1740,Dwayne McClain,Villanova University
1741,Xavier McDaniel,Wichita State University
1746,Chris Mullin*,St. John's University
1747,Charles Oakley,Virginia Union University
1749,Ed Pinckney,Villanova University
1750,Terry Porter,University of Wisconsin-Stevens Point
1754,Detlef Schrempf,University of Washington
1758,Greg Stokes,University of Iowa
1760,Wayman Tisdale,University of Oklahoma
1762,Nick Vanos,Santa Clara University
1763,Sam Vincent,Michigan State University
1764,Spud Webb,North Carolina State University
1765,Bill Wennington,St. John's University
1766,Gerald Wilkins,University of Tennessee at Chattanooga
1767,Pete Williams,University of Arizona
1769,Rafael Addison,Syracuse University
1770,Mark Alarie,Duke University
1771,William Bedford,University of Memphis
1772,Walter Berry,St. John's University
1774,Adrian Branch,University of Maryland
1775,Mike Brown,George Washington University
1777,Dell Curry,Virginia Polytechnic Institute and State Unive...
1778,Brad Daugherty,University of North Carolina
1779,Johnny Dawkins,Duke University
1780,Bruce Douglas,University of Illinois at Urbana-Champaign
1782,Kevin Duckworth,Eastern Illinois University
1784,Kenny Gattison,Old Dominion University
1785,Grant Gondrezick,Pepperdine University
1786,Ron Harper,Miami University
1787,Cedric Henderson,University of Georgia
1788,Kevin Henderson,"California State University, Fullerton"
1789,Conner Henry,"University of California, Santa Barbara"
1790,Jeff Hornacek,Iowa State University
1791,Myron Jackson,University of Arkansas at Little Rock
1792,Buck Johnson,University of Alabama
1795,Tim Kempton,University of Notre Dame
1796,Curtis Kitchen,University of South Florida
1797,Larry Krystkowiak,University of Montana
1800,Maurice Martin,Saint Joseph's University
1801,Forrest McKenzie,Loyola Marymount University
1802,Nate McMillan,North Carolina State University
1804,Pete Myers,University of Arkansas at Little Rock
1805,Johnny Newman,University of Richmond
1806,Dennis Nutt,Texas Christian University
1807,Chuck Person,Auburn University
1808,Dwayne Polee,Pepperdine University
1809,Harold Pressley,Villanova University
1810,Mark Price,Georgia Institute of Technology
1812,Johnny Rogers,"University of California, Irvine"
1814,John Salley,Georgia Institute of Technology
1817,Scott Skiles,Michigan State University
1818,Clinton Smith,Cleveland State University
1819,Keith Smith,University of North Carolina
1820,Otis Smith,Jacksonville University
1821,Roy Tarpley,University of Michigan
1822,Billy Thompson,University of Louisville
1823,Andre Turner,University of Memphis
1824,Kenny Walker,University of Kentucky
1825,Chris Washburn,North Carolina State University
1826,Pearl Washington,Syracuse University
1828,David Wingate,Georgetown University
1830,Perry Young,Virginia Polytechnic Institute and State Unive...
1832,Steve Alford,Indiana University
1833,Greg Anderson,University of Houston
1834,Joe Arlauckas,Niagara University
1835,Vincent Askew,University of Memphis
1836,Nate Blackwell,Temple University
1837,Muggsy Bogues,Wake Forest University
1839,Dallas Comegys,DePaul University
1840,Winston Crite,Texas A&M University
1841,Billy Donovan,Providence College
1843,Jim Farmer,University of Alabama
1844,Tellis Frank,Western Kentucky University
1845,Kevin Gamble,University of Iowa
1846,Winston Garland,Missouri State University
1847,Armen Gilliam,"University of Nevada, Las Vegas"
1848,Horace Grant,Clemson University
1849,Dave Henderson,Duke University
1850,Dave Hoppen,University of Nebraska
1851,Dennis Hopson,Ohio State University
1853,Mark Jackson,St. John's University
1855,Kannard Johnson,Western Kentucky University
1857,Bart Kofoed,University of Nebraska at Kearney
1858,Ralph Lewis,La Salle University
1859,Reggie Lewis,Northeastern University
1860,Brad Lohaus,University of Iowa
1861,Derrick McKey,University of Alabama
1862,Reggie Miller*,"University of California, Los Angeles"
1863,Andre Moore,Loyola University of Chicago
1865,Ronnie Murphy,Jacksonville University
1866,Tod Murphy,"University of California, Irvine"
1867,Martin Nessley,Duke University
1868,Ken Norman,University of Illinois at Urbana-Champaign
1869,Scottie Pippen*,University of Central Arkansas
1870,Olden Polynice,University of Virginia
1871,Richard Rellford,University of Michigan
1872,Scott Roth,University of Wisconsin
1873,Brian Rowsom,University of North Carolina at Wilmington
1874,Kenny Smith,University of North Carolina
1876,Mark Wade,"University of Nevada, Las Vegas"
1877,Milt Wagner,University of Louisville
1878,Jamie Waller,Virginia Union University
1879,Duane Washington,Middle Tennessee State University
1880,Chris Welp,University of Washington
1882,Eric White,Pepperdine University
1883,Tony White,University of Tennessee
1884,Reggie Williams,Georgetown University
1885,Nikita Wilson,Louisiana State University
1887,Rickie Winslow,University of Houston
1888,Joe Wolf,University of North Carolina
1889,Phil Zevenbergen,University of Washington
1890,Randy Allen,Florida State University
1891,Michael Anderson,Drexel University
1892,Willie Anderson,University of Georgia
1893,Ricky Berry,San Jose State University
1894,Anthony Bowie,University of Oklahoma
1895,Scott Brooks,"University of California, Irvine"
1896,Mark Bryant,Seton Hall University
1897,Greg Butler,Stanford University
1898,Mike Champion,Gonzaga University
1899,Rex Chapman,University of Kentucky
1900,Derrick Chievous,University of Missouri
1901,Mark Davis,Old Dominion University
1902,Vinny Del,NaN
1903,Fennis Dembo,University of Wyoming
1904,Ledell Eackles,University of New Orleans
1905,Kevin Edwards,DePaul University
1906,Wayne Englestad,"University of California, Irvine"
1907,Rolando Ferreira,University of Houston
1908,Duane Ferrell,Georgia Institute of Technology
1909,Anthony Frederick,Pepperdine University
1910,Corey Gaines,Loyola Marymount University
1911,Tom Garrick,University of Rhode Island
1912,Ben Gillery,Georgetown University
1913,Orlando Graham,Auburn University at Montgomery
1914,Ron Grandison,University of New Orleans
1915,Gary Grant,University of Michigan
1916,Harvey Grant,University of Oklahoma
1917,Sylvester Gray,University of Memphis
1918,Jeff Grayer,Iowa State University
1919,Jack Haley,"University of California, Los Angeles"
1920,Hersey Hawkins,Bradley University
1921,Tito Horford,University of Miami
1922,Avery Johnson,Southern University and A&M College
1923,Bill Jones,University of Iowa
1924,Shelton Jones,St. John's University
1925,Steve Kerr,University of Arizona
1926,Randolph Keys,University of Southern Mississippi
1927,Jerome Lane,University of Pittsburgh
1928,Andrew Lang,University of Arkansas
1929,Eric Leckner,University of Wyoming
1930,Jim Les,Bradley University
1931,Rob Lock,University of Kentucky
1932,Grant Long,Eastern Michigan University
1933,Dan Majerle,Central Michigan University
1934,Danny Manning,University of Kansas
1935,Vernon Maxwell,University of Florida
1936,Todd Mitchell,Purdue University
1937,Chris Morris,Auburn University
1938,Richard Morton,"California State University, Fullerton"
1939,Craig Neal,Georgia Institute of Technology
1940,Jose Ortiz,Oregon State University
1941,Will Perdue,Vanderbilt University
1942,Tim Perry,Temple University
1943,Dave Popson,University of North Carolina
1944,Dominic Pressley,Boston College
1945,Mitch Richmond*,Kansas State University
1946,Ramon Rivas,Temple University
1947,David Rivers,University of Notre Dame
1948,Rob Rose,George Mason University
1950,Rony Seikaly,Syracuse University
1951,Charles Shackleford,North Carolina State University
1952,John Shasky,University of Minnesota
1953,Brian Shaw,"University of California, Santa Barbara"
1954,Keith Smart,Indiana University
1955,Charles Smith,University of Pittsburgh
1956,Rik Smits,Marist College
1957,John Starks,Oklahoma State University
1958,Everette Stephens,Purdue University
1960,Barry Sumpter,Austin Peay State University
1961,Anthony Taylor,University of Oregon
1962,Tom Tolbert,University of Arizona
1963,Kelvin Upshaw,University of Utah
1964,Morlon Wiley,"California State University, Long Beach"
1966,David Wood,"University of Nevada, Reno"
1967,Nick Anderson,University of Illinois at Urbana-Champaign
1968,Michael Ansley,University of Alabama
1969,B.J. Armstrong,NaN
1970,Dana Barros,Boston College
1971,Kenny Battle,University of Illinois at Urbana-Champaign
1972,Winston Bennett,University of Kentucky
1973,Mookie Blaylock,University of Oklahoma
1974,Chucky Brown,North Carolina State University
1975,Raymond Brown,University of Idaho
1976,Stanley Brundy,DePaul University
1977,Torgeir Bryn,Texas State University
1978,Steve Bucknall,University of North Carolina
1979,Adrian Caldwell,Lamar University
1980,Lanard Copeland,Georgia State University
1981,Terry Davis,Virginia Union University
1982,Byron Dinkins,University of North Carolina at Charlotte
1983,Vlade Divac,NaN
1984,Sherman Douglas,Syracuse University
1985,Terry Dozier,University of South Carolina
1986,Blue Edwards,East Carolina University
1988,Sean Elliott,University of Arizona
1989,Pervis Ellison,University of Louisville
1990,Derrick Gervin,University of Texas at San Antonio
1991,Greg Grant,Trenton State University
1992,Scott Haffner,University of Evansville
1993,Tom Hammonds,Georgia Institute of Technology
1994,Tim Hardaway,University of Texas at El Paso
1995,Mike Higgins,University of Northern Colorado
1996,Ed Horton,University of Iowa
1997,Byron Irvin,University of Missouri
1998,Jaren Jackson,Georgetown University
1999,Eric Johnson,University of Nebraska
2000,Nate Johnston,University of Tampa
2001,Shawn Kemp,Trinity Valley Community College
2002,Stan Kimbrough,Xavier University
2003,Stacey King,University of Oklahoma
2004,Frank Kornet,Vanderbilt University
2005,Jeff Lebo,University of North Carolina
2006,Tim Legler,La Salle University
2007,Gary Leonard,University of Missouri
2008,Clifford Lett,University of Florida
2009,Todd Lichti,Stanford University
2010,Roy Marble,University of Iowa
2011,Sarunas Marciulionis*,NaN
2012,Jeff Martin,Murray State University
2013,Anthony Mason,Tennessee State University
2014,Bob McCann,Morehead State University
2015,Mel McCants,Purdue University
2016,George McCloud,Florida State University
2017,Carlton McKinney,Southern Methodist University
2018,Scott Meents,University of Illinois at Urbana-Champaign
2019,Sam Mitchell,Mercer University
2020,Mike Morrison,Loyola College in Maryland
2021,John Morton,Seton Hall University
2022,Dyron Nix,University of Tennessee
2023,Zarko Paspalj,NaN
2024,Kenny Payne,University of Louisville
2025,Drazen Petrovic*,NaN
2026,Brian Quinnett,Washington State University
2027,J.R. Reid,NaN
2028,Glen Rice,University of Michigan
2029,Pooh Richardson,"University of California, Los Angeles"
2031,David Robinson*,United States Naval Academy
2032,Doug Roth,University of Tennessee
2033,Donald Royal,University of Notre Dame
2035,Jeff Sanders,Georgia Southern University
2036,Dexter Shouse,University of South Alabama
2037,Michael Smith,Brigham Young University
2038,Jay Taylor,Eastern Illinois University
2039,Leonard Taylor,University of California
2041,Gary Voce,University of Notre Dame
2042,Alexander Volkov,NaN
2043,Doug West,Villanova University
2044,Randy White,Louisiana Tech University
2046,Haywoode Workman,Oral Roberts University
2047,Alaa Abdelnaby,Duke University
2049,Keith Askins,University of Alabama
2050,Milos Babic,Tennessee Technological University
2051,Cedric Ball,University of North Carolina at Charlotte
2052,Lance Blanks,University of Texas at Austin
2053,Anthony Bonner,Saint Louis University
2054,Dee Brown,Jacksonville University
2055,Jud Buechler,University of Arizona
2056,Matt Bullard,University of Iowa
2057,Willie Burton,University of Minnesota
2058,Rick Calloway,University of Kansas
2059,Elden Campbell,Clemson University
2060,Duane Causwell,Temple University
2061,Cedric Ceballos,"California State University, Fullerton"
2062,Richard Coffey,University of Minnesota
2063,Derrick Coleman,Syracuse University
2064,Bimbo Coles,Virginia Polytechnic Institute and State Unive...
2065,Anthony Cook,University of Arizona
2066,Tony Dawson,Florida State University
2067,Mario Elie,American International College
2068,A.J. English,NaN
2069,Danny Ferry,Duke University
2070,Greg Foster,University of Texas at El Paso
2071,Tate George,University of Connecticut
2072,Kendall Gill,University of Illinois at Urbana-Champaign
2073,Gerald Glass,University of Mississippi
2074,Dan Godfread,University of Evansville
2076,Tony Harris,University of New Orleans
2077,Steve Henson,Kansas State University
2078,Sean Higgins,University of Michigan
2079,Tyrone Hill,Xavier University
2080,Dave Jamerson,Ohio University
2081,Henry James,St. Mary's University
2082,Les Jepsen,University of Iowa
2083,Alec Kessler,University of Georgia
2084,Bo Kimble,Loyola Marymount University
2085,Negele Knight,University of Dayton
2086,Kurk Lee,Towson University
2087,Marcus Liberty,University of Illinois at Urbana-Champaign
2088,Ian Lockhart,University of Tennessee
2089,Tony Massenburg,University of Maryland
2090,Travis Mays,University of Texas at Austin
2091,Terry Mills,University of Michigan
2092,Chris Munk,University of Southern California
2093,Jerrod Mustaf,University of Maryland
2094,Dan O'Sullivan,Fordham University
2095,Alan Ogg,University of Alabama at Birmingham
2096,Brian Oliver,Georgia Institute of Technology
2097,Gerald Paddio,"University of Nevada, Las Vegas"
2098,Walter Palmer,Dartmouth College
2099,Gary Payton*,Oregon State University
2100,Kevin Pritchard,University of Kansas
2101,Larry Robinson,Centenary College of Louisiana
2102,Rumeal Robinson,University of Michigan
2103,Steve Scheffler,Purdue University
2104,Dwayne Schintzius,University of Florida
2105,Dennis Scott,Georgia Institute of Technology
2106,Lionel Simmons,La Salle University
2107,Tony Smith,NaN
2108,Felton Spencer,University of Louisville
2109,Irving Thomas,Florida State University
2110,Andy Toolson,Brigham Young University
2111,Loy Vaught,University of Michigan
2112,Stojko Vrankovic,NaN
2113,Jayson Williams,St. John's University
2115,Scott Williams,University of North Carolina
2116,Trevor Wilson,"University of California, Los Angeles"
2117,Kennard Winchester,Averett University
2120,Victor Alexander,Iowa State University
2121,Kenny Anderson,Georgia Institute of Technology
2122,Greg Anthony,"University of Nevada, Las Vegas"
2123,Stacey Augmon,"University of Nevada, Las Vegas"
2124,Isaac Austin,Arizona State University
2125,Steve Bardo,University of Illinois at Urbana-Champaign
2126,David Benoit,University of Alabama
2127,Terrell Brandon,University of Oregon
2128,Kevin Brooks,University of Louisiana at Lafayette
2129,Myron Brown,Slippery Rock University of Pennsylvania
2130,Randy Brown,University of Idaho
2131,Demetrius Calip,University of Michigan
2132,Pete Chilcutt,University of North Carolina
2133,Marty Conlon,Providence College
2134,Tom Copa,Marquette University
2135,Chris Corchiani,North Carolina State University
2136,Corey Crowder,Kentucky Wesleyan College
2137,Dale Davis,Clemson University
2138,Bison Dele,University of Arizona
2139,Patrick Eddie,University of Mississippi
2141,Rick Fox,University of North Carolina
2142,Chris Gatling,Old Dominion University
2143,Paul Graham,Ohio University
2144,Sean Green,Iona College
2145,Carl Herrera,University of Houston
2146,Donald Hodge,Temple University
2147,Brian Howard,North Carolina State University
2148,Cedric Hunter,University of Kansas
2149,Mike Iuzzolino,Saint Francis University
2150,Rich King,University of Nebraska
2151,Doug Lee,Purdue University
2152,Luc Longley,University of New Mexico
2153,Kevin Lynch,University of Minnesota
2154,Mark Macon,Temple University
2155,Tharon Mayes,Florida State University
2156,Rodney Monroe,North Carolina State University
2157,Tracy Moore,University of Tulsa
2158,Eric Murdock,Providence College
2159,Dikembe Mutombo*,Georgetown University
2160,Jimmy Oliver,Purdue University
2161,Billy Owens,Syracuse University
2162,Keith Owens,"University of California, Los Angeles"
2163,Robert Pack,University of Southern California
2164,Elliot Perry,University of Memphis
2165,Bobby Phills,Southern University and A&M College
2166,Mark Randall,University of Kansas
2167,Stanley Roberts,Louisiana State University
2170,Steve Smith,Michigan State University
2171,Larry Stewart,Coppin State University
2172,Derek Strong,Xavier University
2173,Lamont Strothers,Christopher Newport University
2174,Greg Sutton,Oral Roberts University
2175,Carl Thomas,Eastern Michigan University
2176,Charles Thomas,Eastern Michigan University
2177,Stephen Thompson,Syracuse University
2178,John Turner,Phillips University
2179,Joao Vianna,NaN
2180,Eric Anderson,Indiana University
2181,Anthony Avent,Seton Hall University
2182,Jon Barry,Georgia Institute of Technology
2183,Tony Bennett,University of Wisconsin-Green Bay
2184,Alex Blackwell,Monmouth University
2185,Ricky Blanton,Louisiana State University
2186,Walter Bond,University of Minnesota
2187,Dexter Cambridge,University of Texas at Austin
2188,Doug Christie,Pepperdine University
2189,Duane Cooper,University of Southern California
2190,Joe Courtney,University of Southern Mississippi
2191,John Crotty,University of Virginia
2192,Radisav Curcic,NaN
2193,Lloyd Daniels,Mount San Antonio College
2194,Hubert Davis,University of North Carolina
2195,Todd Day,University of Arkansas
2196,Richard Dumas,Northeastern State University
2197,Pat Durham,Colorado State University
2198,LaPhonso Ellis,University of Notre Dame
2199,Matt Geiger,Georgia Institute of Technology
2200,Litterial Green,University of Georgia
2201,Tom Gugliotta,North Carolina State University
2202,Jay Guidinger,University of Minnesota Duluth
2203,Robert Horry,University of Alabama
2204,Byron Houston,Oklahoma State University
2205,Stephen Howard,DePaul University
2206,Jim Jackson,Ohio State University
2207,Keith Jennings,East Tennessee State University
2208,Dave Johnson,Syracuse University
2209,Thomas Jordan,Oklahoma State University
2210,Adam Keefe,Stanford University
2211,Christian Laettner,Duke University
2212,Sam Mack,University of Houston
2213,Don MacLean,"University of California, Los Angeles"
2214,Marlon Maxey,University of Texas at El Paso
2215,Lee Mayberry,University of Arkansas
2216,Oliver Miller,University of Arkansas
2217,Harold Miner,University of Southern California
2218,Isaiah Morris,University of Arkansas
2219,Alonzo Mourning*,Georgetown University
2220,Tracy Murray,"University of California, Los Angeles"
2221,Melvin Newbern,University of Minnesota
2222,Shaquille O'Neal*,Louisiana State University
2223,Matt Othick,University of Arizona
2224,Doug Overton,La Salle University
2225,Anthony Peeler,University of Missouri
2226,Brent Price,University of Oklahoma
2227,Anthony Pullard,McNeese State University
2228,Sean Rooks,University of Arizona
2229,Malik Sealy,St. John's University
2230,Chris Smith,University of Pittsburgh
2231,Reggie Smith,Texas Christian University
2232,Andre Spencer,Northern Arizona University
2233,Elmore Spencer,"University of Nevada, Las Vegas"
2234,Latrell Sprewell,University of Alabama
2235,Barry Stevens,Iowa State University
2236,Bryant Stith,University of Virginia
2237,Gundars Vetra,NaN

In [52]:
# 8
filtered_name = (df["Player"] == "Don Carlson")
df[filtered_name]["collage"]

23    University of Minnesota
Name: collage, dtype: object

In [64]:
# 9
df.groupby(by = "collage")[["height","weight"]].mean()
print("*"*50)
df.groupby("collage")["Player"].count().sort_values(ascending= False)

**************************************************

collage
University of Kentucky                                        89
University of California, Los Angeles                         86
University of North Carolina                                  67
University of Kansas                                          59
Duke University                                               56
University of Notre Dame                                      51
Indiana University                                            49
Syracuse University                                           49
St. John's University                                         48
University of Louisville                                      46
Michigan State University                                     45
University of Arizona                                         43
University of Minnesota                                       41
Ohio State University                                         39
University of Michigan                                        38
University of Maryland                                        36
Villanova University                                          36
North Carolina State University                               35
Georgia Institute of Technology                               35
University of Illinois at Urbana-Champaign                    35
University of Nevada, Las Vegas                               34
University of Southern California                             32
Louisiana State University                                    32
Florida State University                                      32
Marquette University                                          31
Georgetown University                                         31
University of Iowa                                            30
DePaul University                                             30
University of Washington                                      30
Wake Forest University                                        29
University of Cincinnati                                      28
University of California                                      28
University of Texas at Austin                                 27
Providence College                                            27
University of Connecticut                                     27
Temple University                                             27
University of Missouri                                        26
University of Houston                                         26
University of Arkansas                                        26
Stanford University                                           26
University of Tennessee                                       25
University of Memphis                                         25
Purdue University                                             25
University of Wisconsin                                       24
Western Kentucky University                                   24
Oregon State University                                       23
University of Utah                                            23
University of Alabama                                         23
Oklahoma State University                                     23
University of Florida                                         22
University of Wyoming                                         22
Seton Hall University                                         22
University of Virginia                                        21
Arizona State University                                      21
Iowa State University                                         21
University of San Francisco                                   21
University of Detroit Mercy                                   20
University of Oregon                                          20
University of South Carolina                                  19
La Salle University                                           19
University of Oklahoma                                        19
Brigham Young University                                      19
Kansas State University                                       18
California State University, Fresno                           18
California State University, Long Beach                       18
Boston College                                                18
University of Pittsburgh                                      17
Pepperdine University                                         17
University of Colorado                                        16
Auburn University                                             16
University of Georgia                                         16
University of Dayton                                          16
Xavier University                                             16
New York University                                           15
Bowling Green State University                                15
University of Texas at El Paso                                15
Northwestern University                                       15
Saint Joseph's University                                     15
Bradley University                                            14
Gonzaga University                                            14
Vanderbilt University                                         14
St. Bonaventure University                                    14
West Virginia University                                      14
Duquesne University                                           14
Tennessee State University                                    14
Jackson State University                                      13
Drake University                                              13
New Mexico State University                                   13
Niagara University                                            13
Santa Clara University                                        12
Jacksonville University                                       12
University of New Mexico                                      12
Murray State University                                       12
Mississippi State University                                  12
Loyola University of Chicago                                  12
Clemson University                                            12
Washington State University                                   12
University of Pennsylvania                                    11
Grambling State University                                    11
Creighton University                                          11
Baylor University                                             11
Wichita State University                                      11
Texas Tech University                                         11
Texas A&M University                                          11
University of Toledo                                          11
Virginia Polytechnic Institute and State University           11
University of Nebraska                                        11
Seattle University                                            11
University of Miami                                           10
Tulane University                                             10
Oral Roberts University                                       10
Old Dominion University                                       10
University of Tulsa                                           10
Saint Louis University                                        10
University of Alabama at Birmingham                           10
California State University, Fullerton                        10
University of Nevada, Reno                                    10
Southern Illinois University                                  10
Virginia Commonwealth University                               9
Long Island University                                         9
College of the Holy Cross                                      9
Eastern Michigan University                                    9
George Washington University                                   9
Rutgers University                                             9
Rice University                                                9
Miami University                                               8
University of Mississippi                                      8
Marshall University                                            8
University of Portland                                         8
Canisius College                                               8
Princeton University                                           8
Pennsylvania State University                                  8
University of Texas-Pan American                               7
Weber State University                                         7
University of Massachusetts Amherst                            7
San Diego State University                                     7
Idaho State University                                         7
University of New Orleans                                      7
Utah State University                                          7
University of Rhode Island                                     7
Colorado State University                                      7
Southern Methodist University                                  7
University of California, Santa Barbara                        7
Central Michigan University                                    7
University of Louisiana at Lafayette                           7
University of North Carolina at Charlotte                      6
Texas Christian University                                     6
Eastern Kentucky University                                    6
Western Michigan University                                    6
Hamline University                                             6
Morehead State University                                      6
Virginia Union University                                      6
Fordham University                                             6
University of Hawaii                                           6
University of South Alabama                                    6
Oklahoma City University                                       6
San Jose State University                                      6
University of California, Irvine                               6
Iona College                                                   6
Loyola Marymount University                                    6
Louisiana Tech University                                      6
University of Arkansas at Little Rock                          6
Northeastern University                                        5
Indiana State University                                       5
Austin Peay State University                                   5
University of the Pacific                                      5
Southern University and A&M College                            5
Texas Southern University                                      5
Davidson College                                               5
University of Idaho                                            5
Hofstra University                                             5
Cleveland State University                                     5
Saint Mary's College of California                             5
Winston-Salem State University                                 5
University of South Florida                                    5
Ohio University                                                5
McNeese State University                                       5
Northern Illinois University                                   4
Alcorn State University                                        4
University of Louisiana at Monroe                              4
Butler University                                              4
Florida Agricultural and Mechanical University                 4
Norfolk State University                                       4
University of Tennessee at Chattanooga                         4
University of Southern Mississippi                             4
West Texas A&M University                                      4
Albany State University                                        4
Manhattan College                                              4
Columbia University                                            4
Illinois State University                                      4
University of Maryland Eastern Shore                           4
Dartmouth College                                              4
University of Evansville                                       4
Missouri State University                                      4
California State University, Los Angeles                       4
West Virginia State University                                 4
Portland State University                                      3
Boston University                                              3
Georgia Southern University                                    3
Xavier University of Louisiana                                 3
Boise State University                                         3
Western Carolina University                                    3
Saint Francis University                                       3
Saint Peter's College                                          3
Centenary College of Louisiana                                 3
East Carolina University                                       3
University of Montana                                          3
Towson University                                              3
City College of New York                                       3
South Dakota State University                                  3
Augsburg College                                               3
Valparaiso University                                          3
Stetson University                                             3
East Texas State University                                    3
University of Richmond                                         3
Lincoln University of Missouri                                 3
Colgate University                                             3
Lamar University                                               3
University of Wisconsin-Green Bay                              3
Kentucky State University                                      3
Northern Arizona University                                    3
University of Denver                                           3
Tennessee Technological University                             3
Kent State University                                          3
Oklahoma Baptist University                                    3
University of Charleston                                       3
Augustana College (SD)                                         2
Yale University                                                2
University of Illinois at Chicago                              2
William Paterson University                                    2
Ball State University                                          2
Wright State University                                        2
Tuskegee University                                            2
Truman State University                                        2
Thomas More College                                            2
Whitworth                                                      2
Auburn University at Montgomery                                2
Assumption College                                             2
St. Mary's University                                          2
Bemidji State University                                       2
Stephen F. Austin State University                             2
Texas State University                                         2
Florida International University                               2
South Carolina State University                                2
Muhlenberg College                                             2
Morgan State University                                        2
Mississippi Valley State University                            2
College of William & Mary                                      2
Midwestern State University                                    2
Middle Tennessee State University                              2
University of Southern Colorado                                2
Coppin State University                                        2
Cornell University                                             2
Loyola College in Maryland                                     2
Liberty University                                             2
Delta State University                                         2
Kentucky Wesleyan College                                      2
Drexel University                                              2
Eastern Illinois University                                    2
University of Wisconsin-Eau Claire                             2
Harvard University                                             2
Hampton University                                             2
Guilford College                                               2
Grand Canyon University                                        2
George Mason University                                        2
Furman University                                              2
Mount St. Mary's University                                    2
Central State University                                       2
University of North Dakota                                     2
Central Connecticut State University                           2
University of North Texas                                      2
University of Nebraska at Kearney                              2
North Carolina Agricultural and Technical State University     2
Northeastern State University                                  2
Northwestern State University                                  2
University of North Carolina at Wilmington                     2
Sam Houston State University                                   2
Wayne State University                                         2
Oakland University                                             2
University of West Florida                                     1
Wofford College                                                1
University of Missouri-Kansas City                             1
Voorhees College                                               1
Western Illinois University                                    1
West Virginia University Institute of Technology               1
Utah Valley State College                                      1
University of Wisconsin-Parkside                               1
West Virginia Wesleyan College                                 1
University of Wisconsin-River Falls                            1
University of Wisconsin-Stevens Point                          1
University of the District of Columbia                         1
Westchester CC                                                 1
University of Minnesota Duluth                                 1
Virginia Military Institute                                    1
University of Texas at San Antonio                             1
Wingate University                                             1
University of Tennessee at Martin                              1
University of Northern Colorado                                1
University of Tampa                                            1
Wilberforce University                                         1
University of Maine                                            1
Washington & Jefferson College                                 1
Wheaton College                                                1
University of Montevallo                                       1
Walsh University                                               1
University of San Diego                                        1
University of Puget Sound                                      1

In [69]:
# 10
df.groupby("collage").agg(
    {
        "Player": "count",
        "Age": "mean",
        
    }
).sort_values(by= "Player", ascending= False)

                                                    Player         Age
collage
University of Kentucky                                  89   58.325843
University of California, Los Angeles                   86   59.430233
University of North Carolina                            67   60.194030
University of Kansas                                    59   52.610169
Duke University                                         56   51.892857
University of Notre Dame                                51   67.274510
Indiana University                                      49   68.469388
Syracuse University                                     49   53.591837
St. John's University                                   48   72.854167
University of Louisville                                46   60.934783
Michigan State University                               45   57.222222
University of Arizona                                   43   51.069767
University of Minnesota                                 41   73.317073
Ohio State University                                   39   69.256410
University of Michigan                                  38   56.736842
University of Maryland                                  36   58.361111
Villanova University                                    36   65.583333
North Carolina State University                         35   67.600000
Georgia Institute of Technology                         35   52.342857
University of Illinois at Urbana-Champaign              35   71.857143
University of Nevada, Las Vegas                         34   56.911765
University of Southern California                       32   63.218750
Louisiana State University                              32   54.437500
Florida State University                                32   54.562500
Marquette University                                    31   59.806452
Georgetown University                                   31   57.838710
University of Iowa                                      30   63.800000
DePaul University                                       30   73.566667
University of Washington                                30   57.366667
Wake Forest University                                  29   59.586207
University of Cincinnati                                28   67.214286
University of California                                28   59.464286
University of Texas at Austin                           27   54.851852
Providence College                                      27   59.592593
University of Connecticut                               27   49.555556
Temple University                                       27   66.851852
University of Missouri                                  26   56.807692
University of Houston                                   26   62.769231
University of Arkansas                                  26   53.884615
Stanford University                                     26   58.615385
University of Tennessee                                 25   64.360000
University of Memphis                                   25   54.600000
Purdue University                                       25   64.320000
University of Wisconsin                                 24   66.583333
Western Kentucky University                             24   82.625000
Oregon State University                                 23   69.434783
University of Utah                                      23   66.695652
University of Alabama                                   23   55.782609
Oklahoma State University                               23   56.347826
University of Florida                                   22   44.363636
University of Wyoming                                   22   84.045455
Seton Hall University                                   22   74.500000
University of Virginia                                  21   53.142857
Arizona State University                                21   61.857143
Iowa State University                                   21   52.714286
University of San Francisco                             21   78.571429
University of Detroit Mercy                             20   71.700000
University of Oregon                                    20   62.400000
University of South Carolina                            19   68.684211
La Salle University                                     19   73.052632
University of Oklahoma                                  19   57.263158
Brigham Young University                                19   65.736842
Kansas State University                                 18   70.833333
California State University, Fresno                     18   51.222222
California State University, Long Beach                 18   63.888889
Boston College                                          18   59.111111
University of Pittsburgh                                17   51.529412
Pepperdine University                                   17   63.823529
University of Colorado                                  16   61.062500
Auburn University                                       16   58.750000
University of Georgia                                   16   55.250000
University of Dayton                                    16   77.312500
Xavier University                                       16   59.500000
New York University                                     15   93.000000
Bowling Green State University                          15   80.600000
University of Texas at El Paso                          15   65.066667
Northwestern University                                 15   85.733333
Saint Joseph's University                               15   71.533333
Bradley University                                      14   73.071429
Gonzaga University                                      14   41.428571
Vanderbilt University                                   14   55.642857
St. Bonaventure University                              14   79.142857
West Virginia University                                14   73.714286
Duquesne University                                     14   80.857143
Tennessee State University                              14   74.428571
Jackson State University                                13   68.230769
Drake University                                        13   81.000000
New Mexico State University                             13   64.923077
Niagara University                                      13   84.076923
Santa Clara University                                  12   77.583333
Jacksonville University                                 12   69.583333
University of New Mexico                                12   51.250000
Murray State University                                 12   62.500000
Mississippi State University                            12   53.583333
Loyola University of Chicago                            12   83.583333
Clemson University                                      12   54.250000
Washington State University                             12   61.750000
University of Pennsylvania                              11   74.454545
Grambling State University                              11   80.545455
Creighton University                                    11   62.818182
Baylor University                                       11   49.727273
Wichita State University                                11   55.818182
Texas Tech University                                   11   58.909091
Texas A&M University                                    11   55.090909
University of Toledo                                    11   81.727273
Virginia Polytechnic Institute and State Univer...      11   54.818182
University of Nebraska                                  11   60.090909
Seattle University                                      11   78.818182
University of Miami                                     10   45.200000
Tulane University                                       10   79.700000
Oral Roberts University                                 10   64.400000
Old Dominion University                                 10   60.800000
University of Tulsa                                     10   60.600000
Saint Louis University                                  10   76.800000
University of Alabama at Birmingham                     10   52.700000
California State University, Fullerton                  10   58.000000
University of Nevada, Reno                              10   50.300000
Southern Illinois University                            10   69.200000
Virginia Commonwealth University                         9   50.888889
Long Island University                                   9   90.000000
College of the Holy Cross                                9   90.333333
Eastern Michigan University                              9   62.111111
George Washington University                             9   64.333333
Rutgers University                                       9   62.666667
Rice University                                          9   69.000000
Miami University                                         8   80.250000
University of Mississippi                                8   60.125000
Marshall University                                      8   74.375000
University of Portland                                   8   74.875000
Canisius College                                         8   84.000000
Princeton University                                     8   75.125000
Pennsylvania State University                            8   60.500000
University of Texas-Pan American                         7   75.571429
Weber State University                                   7   51.857143
University of Massachusetts Amherst                      7   54.714286
San Diego State University                               7   50.428571
Idaho State University                                   7   67.571429
University of New Orleans                                7   62.142857
Utah State University                                    7   80.857143
University of Rhode Island                               7   64.857143
Colorado State University                                7   72.571429
Southern Methodist University                            7   63.000000
University of California, Santa Barbara                  7   57.857143
Central Michigan University                              7   63.285714
University of Louisiana at Lafayette                     7   54.428571
University of North Carolina at Charlotte                6   57.333333
Texas Christian University                               6   65.000000
Eastern Kentucky University                              6   93.666667
Western Michigan University                              6   70.333333
Hamline University                                       6   99.333333
Morehead State University                                6   72.833333
Virginia Union University                                6   65.000000
Fordham University                                       6   73.166667
University of Hawaii                                     6   62.000000
University of South Alabama                              6   65.166667
Oklahoma City University                                 6   80.833333
San Jose State University                                6   66.000000
University of California, Irvine                         6   61.500000
Iona College                                             6   67.166667
Loyola Marymount University                              6   73.833333
Louisiana Tech University                                6   60.166667
University of Arkansas at Little Rock                    6   54.833333
Northeastern University                                  5   73.200000
Indiana State University                                 5   85.400000
Austin Peay State University                             5   60.800000
University of the Pacific                                5   72.000000
Southern University and A&M College                      5   67.200000
Texas Southern University                                5   78.600000
Davidson College                                         5   66.000000
University of Idaho                                      5   69.400000
Hofstra University                                       5   58.000000
Cleveland State University                               5   53.600000
Saint Mary's College of California                       5   69.600000
Winston-Salem State University                           5   78.200000
University of South Florida                              5   54.800000
Ohio University                                          5   49.000000
McNeese State University                                 5   62.000000
Northern Illinois University                             4   66.250000
Alcorn State University                                  4   69.000000
University of Louisiana at Monroe                        4   64.250000
Butler University                                        4   66.750000
Florida Agricultural and Mechanical University           4   70.500000
Norfolk State University                                 4   61.250000
University of Tennessee at Chattanooga                   4   60.250000
University of Southern Mississippi                       4   55.000000
West Texas A&M University                                4   95.750000
Albany State University                                  4   71.750000
Manhattan College                                        4   70.500000
Columbia University                                      4   87.500000
Illinois State University                                4   72.250000
University of Maryland Eastern Shore                     4   81.500000
Dartmouth College                                        4   75.000000
University of Evansville                                 4   68.750000
Missouri State University                                4   68.500000
California State University, Los Angeles                 4   83.500000
West Virginia State University                           4   89.500000
Portland State University                                3   62.000000
Boston University                                        3   70.333333
Georgia Southern University                              3   63.000000
Xavier University of Louisiana                           3   83.000000
Boise State University                                   3   51.333333
Western Carolina University                              3   69.333333
Saint Francis University                                 3   74.666667
Saint Peter's College                                    3   82.666667
Centenary College of Louisiana                           3   73.000000
East Carolina University                                 3   59.666667
University of Montana                                    3   54.000000
Towson University                                        3   44.333333
City College of New York                                 3  102.333333
South Dakota State University                            3   61.666667
Augsburg College                                         3   70.666667
Valparaiso University                                    3   82.666667
Stetson University                                       3   63.000000
East Texas State University                              3   92.333333
University of Richmond                                   3   54.333333
Lincoln University of Missouri                           3   80.000000
Colgate University                                       3   81.666667
Lamar University                                         3   62.666667
University of Wisconsin-Green Bay                        3   54.000000
Kentucky State University                                3   75.666667
Northern Arizona University                              3   70.333333
University of Denver                                     3   93.666667
Tennessee Technological University                       3   57.666667
Kent State University                                    3   66.000000
Oklahoma Baptist University                              3   79.333333
University of Charleston                                 3   89.333333
Augustana College (SD)                                   2   63.000000
Yale University                                          2   81.000000
University of Illinois at Chicago                        2   53.000000
William Paterson University                              2   58.500000
Ball State University                                    2   47.000000
Wright State University                                  2   52.000000
Tuskegee University                                      2   72.000000
Truman State University                                  2   99.500000
Thomas More College                                      2   87.000000
Whitworth                                                2   94.000000
Auburn University at Montgomery                          2   56.000000
Assumption College                                       2   76.000000
St. Mary's University                                    2   65.000000
Bemidji State University                                 2  105.000000
Stephen F. Austin State University                       2   77.000000
Texas State University                                   2   54.500000
Florida International University                         2   47.500000
South Carolina State University                          2   56.000000
Muhlenberg College                                       2   98.500000
Morgan State University                                  2   73.000000
Mississippi Valley State University                      2   54.000000
College of William & Mary                                2   84.000000
Midwestern State University                              2   60.500000
Middle Tennessee State University                        2   58.000000
University of Southern Colorado                          2   81.000000
Coppin State University                                  2   64.500000
Cornell University                                       2   69.500000
Loyola College in Maryland                               2   79.000000
Liberty University                                       2   53.000000
Delta State University                                   2   48.000000
Kentucky Wesleyan College                                2   68.500000
Drexel University                                        2   55.000000
Eastern Illinois University                              2   59.500000
University of Wisconsin-Eau Claire                       2   74.500000
Harvard University                                       2   66.500000
Hampton University                                       2   55.000000
Guilford College                                         2   76.000000
Grand Canyon University                                  2   61.500000
George Mason University                                  2   55.500000
Furman University                                        2   82.500000
Mount St. Mary's University                              2   78.500000
Central State University                                 2   66.500000
University of North Dakota                               2   62.500000
Central Connecticut State University                     2   47.500000
University of North Texas                                2   77.500000
University of Nebraska at Kearney                        2   66.500000
North Carolina Agricultural and Technical State...       2   76.500000
Northeastern State University                            2   67.000000
Northwestern State University                            2   67.500000
University of North Carolina at Wilmington               2   58.000000
Sam Houston State University                             2  103.500000
Wayne State University                                   2   90.000000
Oakland University                                       2   36.500000
University of West Florida                               1   52.000000

In [71]:
# 11
unique_collage = df["collage"].unique()
print(f"Unique Collages:\n{unique_collage}\n")
number_of_uniques = df["collage"].nunique()
print(f"Number of unique collages: {number_of_uniques}")

Unique Collages:
['Indiana University' 'University of Kentucky' 'University of Notre Dame'
 'North Carolina State University' 'Marquette University'
 'University of Kansas' 'Temple University' 'Muhlenberg College'
 'University of Denver' 'Western Michigan University'
 "St. John's University" 'Oklahoma State University'
 'Michigan State University' 'Colgate University'
 'Louisiana State University' 'West Texas A&M University'
 'Miami University' nan 'Columbia University'
 'University of Illinois at Urbana-Champaign' 'Seton Hall University'
 'City College of San Francisco' 'University of Minnesota'
 'East Texas State University' 'Canisius College' 'Rice University'
 'University of Wisconsin' 'University of Louisville'
 'Georgetown University' 'University of Wyoming'
 'University of Pennsylvania' 'University of North Carolina'
 'Truman State University' 'New York University' 'University of Colorado'
 'College of William & Mary' 'Butler University'
 'University of Rhode Island' 'Santa Clara University'
 'University of Utah' 'Murray State University' 'Syracuse University'
 'DePaul University' 'Sam Houston State University'
 'Western Kentucky University' 'Creighton University'
 'University of Washington' 'Loyola Marymount University'
 'Ohio State University' "Saint Joseph's University" 'Franklin College'
 'University of Southern California' 'University of Texas at Austin'
 'University of Tennessee' 'Mount Union College'
 'City College of New York' 'Purdue University' 'Marshall University'
 'Washington & Jefferson College' 'Bemidji State University'
 'Huntington University' 'University of Iowa' 'College of the Holy Cross'
 'Loyola University of Chicago' 'Indiana State University'
 'University of Detroit Mercy' 'Bowling Green State University'
 "Saint Mary's College of California" 'Yale University'
 'Dartmouth College' 'Eastern Kentucky University'
 'Saint Louis University' 'Oregon State University'
 'Utah State University' 'Xavier University' 'Hamline University'
 'Western Illinois University' 'Youngstown State University'
 'Northwestern University' 'Georgia Institute of Technology'
 'Loyola College in Maryland' 'Drake University' 'Beloit College'
 'Baylor University' 'Texas Wesleyan University' 'Tulane University'
 'Cornell University' 'Stanford University' 'West Virginia University'
 'Valparaiso University' 'University of San Francisco'
 'Northern Arizona University' 'University of Toledo'
 'University of Alabama' 'Kansas State University'
 'Catholic University of America' 'Appalachian State University'
 'Villanova University' 'University of the Pacific'
 "Saint Mary's University of Minnesota" 'Brigham Young University'
 'Northern Illinois University' 'University of Arizona'
 'Xavier University of Louisiana' 'Duquesne University'
 'Clark Atlanta University' 'La Salle University'
 'Washington State University' 'West Virginia State University'
 'St. Bonaventure University' 'University of California, Los Angeles'
 'Long Island University' 'Bradley University'
 'University of Wisconsin-River Falls' 'University of Missouri'
 'University of Charleston' 'Northwestern State University'
 'LeMoyne College' 'Niagara University' 'University of South Carolina'
 'Lawrence Technological University' 'Duke University'
 'University of California' 'University of Cincinnati' 'Brown University'
 'Texas Christian University' 'University of Dayton'
 'Colorado State University' 'East Central University' 'Whitworth'
 'New Mexico State University' 'Alliance College' 'Texas A&M University'
 'St. Francis College' 'Wofford College' 'Texas Tech University'
 'University of Oregon' 'Centenary College of Louisiana'
 'Harvard University' 'Missouri State University' 'Fordham University'
 "King's College" 'Princeton University'
 'University of Maryland Eastern Shore' 'University of Idaho'
 'Furman University' 'University of Maryland'
 'Pennsylvania State University' 'George Washington University'
 'Wake Forest University' 'Iona College' 'Saint Francis University'
 'Florida Agricultural and Mechanical University'
 'California State University, Los Angeles' 'Grambling State University'
 'Hofstra University' 'Wayne State University' 'Jackson State University'
 'North Carolina Central University' 'Southern Methodist University'
 'University of Connecticut' 'Manhattan College'
 'Texas Southern University' 'University of Memphis' 'Seattle University'
 'Morehead State University' 'University of Portland'
 'Oklahoma City University' 'Thomas More College'
 'California State University, Fresno' 'Tennessee State University'
 'Mississippi State University'
 'North Carolina Agricultural and Technical State University'
 'University of Michigan' 'Louisiana Tech University' 'Providence College'
 'Iowa State University' 'Pikeville College'
 'Winston-Salem State University' 'University of Houston'
 'Pepperdine University' "Saint Peter's College"
 'Prairie View A&M University' 'Belmont Abbey College'
 'Florida State University' 'University of Texas-Pan American'
 'Kenyon College' 'Southern Illinois University'
 'Wichita State University' 'Western Carolina University'
 'University of Tulsa' 'Wheaton College' 'Jacksonville University'
 'Boston College' 'University of Texas at El Paso'
 'Arizona State University' 'University of Miami' 'Elon University'
 'Ohio Wesleyan University' 'Davidson College' 'Miles College'
 'University of Evansville' 'University of Rochester'
 'Vanderbilt University' 'Southern University and A&M College'
 'Lewis University' 'Hillsdale College' 'Johnson C. Smith University'
 'New Mexico Highlands University' 'Tennessee Technological University'
 'Wilberforce University' 'University of North Dakota'
 'Campbell University' 'Oklahoma Baptist University' 'University of Akron'
 'Northeastern University'
 'Virginia Polytechnic Institute and State University'
 'Central State University'
 'California State Polytechnic University, Pomona' 'Guilford College'
 'University of Nebraska' 'Northeastern State University'
 'Kent State University' 'University of Nevada, Las Vegas'
 "Mount St. Mary's University" 'Norfolk State University'
 'Virginia Union University' 'Rutgers University' 'Acadia University'
 'University of Florida' 'University of North Texas'
 'South Dakota State University' 'Cheyney University of Pennsylvania'
 'Fort Valley State University' 'University of Oklahoma'
 'University of New Mexico' 'Eastern New Mexico University'
 'Stephen F. Austin State University' 'Stetson University'
 'Eastern Michigan University' 'United States Military Academy'
 'Midwestern State University' 'University of Georgia'
 'Lincoln University of Missouri' 'University of Louisiana at Lafayette'
 'Voorhees College' 'Assumption College' 'University of Puget Sound'
 'Auburn University' 'Alcorn State University' 'Kentucky State University'
 'State University of New York College at Buffalo'
 'California State University, Long Beach' 'University of Baltimore'
 'Weber State University' 'California State University, Northridge'
 'University of Hawaii' 'Ouachita Baptist University'
 'University of Wisconsin-Eau Claire'
 'University of California, Santa Barbara' 'Friendship Junior College'
 'Illinois State University' 'Boston University'
 'Central Michigan University' 'Bethel College' 'American University'
 'Augsburg College' 'Hardin-Simmons University'
 'Virginia Commonwealth University' 'Gardner-Webb University'
 'Aurora University' 'University of Arkansas'
 'State University of West Georgia' 'Georgia Southern University'
 'University of San Diego' 'University of New Orleans'
 'University of Nebraska at Kearney' 'Tuskegee University'
 'University of Pittsburgh' 'Idaho State University'
 'San Jose State University' 'University of Massachusetts Amherst'
 'Elizabeth City State University' 'University of Virginia'
 'Albany State University' 'University of Mississippi'
 'Coppin State University' 'Old Dominion University'
 'Morgan State University' 'Grand Canyon University'
 'University of North Carolina at Charlotte' "St. Mary's University"
 'Oral Roberts University' 'Clemson University'
 'Illinois Wesleyan University' 'Millersville University of Pennsylvania'
 'California University of Pennslyvania'
 'California State University, Fullerton' 'Virginia Military Institute'
 'Austin Peay State University' 'San Diego State University'
 'McNeese State University' 'Kentucky Wesleyan College'
 'Portland State University' 'University of Nevada, Reno'
 'University of Wisconsin-Parkside' 'University of Louisiana at Monroe'
 'Augustana College (SD)' 'East Carolina University'
 'University at Buffalo, State University of New York'
 'St. Thomas University' 'North Park University' 'Lamar University'
 'Hampton University' 'University of Alabama at Birmingham'
 'West Virginia Wesleyan College' 'Cleveland State University'
 'Alabama State University' 'University of South Alabama'
 'Howard University' 'University of Tennessee at Chattanooga'
 'James Madison University' 'University of South Carolina Upstate'
 'West Virginia University Institute of Technology'
 "Saint Augustine's College" 'University of the District of Columbia'
 'Longwood University' 'University of Richmond' 'Gonzaga University'
 'University of Bridgeport' 'University of Maine'
 'University of California, Irvine'
 'University of Wisconsin-Stevens Point'
 'State University of New York at Potsdam' 'Eastern Illinois University'
 'University of Arkansas at Little Rock' 'University of South Florida'
 'University of Montana' 'Southeastern Oklahoma State University'
 'University of Central Arkansas'
 'University of North Carolina at Wilmington'
 'Middle Tennessee State University' 'William Paterson University'
 'Drexel University' 'Auburn University at Montgomery'
 'University of Southern Mississippi' 'George Mason University'
 'Marist College' 'Texas State University' 'Georgia State University'
 'University of Texas at San Antonio' 'Trenton State University'
 'University of Northern Colorado' 'University of Tampa'
 'Trinity Valley Community College' 'Mercer University'
 'United States Naval Academy' 'American International College'
 'Ohio University' 'Towson University' 'Averett University'
 'Slippery Rock University of Pennsylvania'
 'Christopher Newport University' 'Phillips University'
 'University of Wisconsin-Green Bay' 'Monmouth University'
 'Mount San Antonio College' 'University of Minnesota Duluth'
 'East Tennessee State University' 'University of Hartford'
 'Wright State University' 'Morehouse College'
 'Mississippi Valley State University' 'Pfeiffer University'
 'Fayetteville State University' 'Boise State University'
 'University of Missouri-Kansas City' 'Liberty University'
 'University of Illinois at Chicago' 'Seward County Community College'
 'Delta State University' 'University of Southern Colorado'
 'Delaware State University' 'University of Montevallo'
 'Northwestern Oklahoma State University' 'University of West Florida'
 'Central Connecticut State University'
 'California State University, Bakersfield'
 'South Carolina State University' 'Ball State University'
 'Barton County Community College' 'University of Central Oklahoma'
 'Florida International University' 'College of Saint Rose'
 'Lebanon Valley College' "Master's College" 'Saint Vincent College'
 'Blinn College' 'Humboldt State University'
 'Indian Hills Community College' 'Okaloosa-Walton Community College'
 'Wingate University' 'Shaw University'
 'Northeast Mississippi Community College'
 'Brigham Young University Hawaii' 'Fairfield University'
 'Oakland University' 'Utah Valley State College' 'Walsh University'
 'Meridian Community College' 'Eastern Washington University'
 'Indiana University-Purdue University Indianapolis' 'Midland College'
 'University of Tennessee at Martin' 'Robert Morris University (IL)'
 'Augusta State University' 'Alabama A&M University'
 'College of Charleston' 'Siena College' 'Belmont University'
 'Bucknell University' 'Westchester CC'
 'California Polytechnic State University, San Luis Obispo']

Number of unique collages: 422

In [ ]:
# 12
# Step 1: Count players per collage
collage_counts = df.groupby("collage")["Player"].count()

# Step 2: Filter collages with at least 20 players
collages_with_20_plus = collage_counts[collage_counts >= 20].index

# Step 3: Filter the original df
filtered_df = df[df["collage"].isin(collages_with_20_plus)]

# Step 4: Select columns
filtered_df = filtered_df.loc[:, "Player_ID":"Age"]  # Adjust column names as needed

# Step 5: Display
print(filtered_df)

      Player_ID                   Player  height  weight  \
0             0          Curly Armstrong   180.0    77.0
1             1             Cliff Barker   188.0    83.0
2             2            Leo Barnhorst   193.0    86.0
3             3               Ed Bartels   196.0    88.0
4             4              Ralph Beard   178.0    79.0
5             5               Gene Berce   180.0    79.0
6             6            Charlie Black   196.0    90.0
7             7              Nelson Bobb   183.0    77.0
11           11            Harry Boykoff   208.0   102.0
12           12              Joe Bradley   190.0    79.0
13           13              Bob Brannum   196.0    97.0
15           15            Frankie Brian   185.0    81.0
20           20           Jack Burmaster   190.0    86.0
21           21             Tommy Byrnes   190.0    79.0
23           23              Don Carlson   183.0    77.0
27           27              John Chaney   190.0    83.0
30           30               Paul Cloyd   188.0    81.0
31           31             Jack Coleman   201.0    88.0
32           32               Bobby Cook   178.0    70.0
33           33               Ray Corley   183.0    81.0
34           34              Jack Cotton   201.0    90.0
37           37              Fran Curran   183.0    79.0
39           39              Bob Davies*   185.0    79.0
40           40              Hook Dillon   190.0    81.0
46           46            Dike Eddleman   190.0    85.0
47           47             Gene Englund   196.0    92.0
51           51        George Feigenbaum   185.0    83.0
52           52             Arnie Ferrin   188.0    81.0
55           55               Bill Gabor   180.0    77.0
56           56             Elmer Gainer   198.0    88.0
58           58             Vern Gardner   196.0    90.0
60           60               Dee Gibson   180.0    79.0
62           62             Chuck Gilmur   193.0   102.0
64           64              Paul Gordon   190.0    83.0
66           66                Bud Grant   190.0    88.0
67           67                Don Grate   188.0    83.0
68           68               Alex Groza   201.0    98.0
70           70              Robert Hahn   208.0   108.0
74           74             Alex Hannum*   201.0    95.0
75           75              John Hargis   188.0    81.0
76           76               Bob Harris   201.0    88.0
77           77             Bob Harrison   201.0    88.0
78           78            Billy Hassett   180.0    81.0
79           79         Marshall Hawkins   190.0    92.0
82           82          Kleggie Hermsen   206.0   102.0
84           84             Paul Hoffman   188.0    88.0
85           85              Joe Holland   193.0    83.0
88           88            Howie Janotta   190.0    83.0
89           89               Tony Jaros   190.0    83.0
94           94          Noble Jorgensen   206.0   103.0
96           96            Leo Katkaveck   183.0    83.0
99           99                Walt Kirk   190.0    78.0
100         100                Leo Klier   188.0    77.0
102         102               Lee Knorek   201.0    97.0
103         103            Milo Komenich   201.0    96.0
106         106          Walt Lautenbach   188.0    83.0
109         109            Andrew Levane   188.0    86.0
111         111          Ron Livingstone   208.0    99.0
112         112               John Logan   188.0    79.0
115         115        Johnny Macknowski   183.0    81.0
116         116             John Mahnken   203.0    99.0
117         117              John Mandic   193.0    92.0
118         118           Slater Martin*   178.0    77.0
120         120               Matt Mazza   190.0    95.0
121         121            Mike McCarron   180.0    81.0
122         122            Dick McGuire*   183.0    81.0
123         123           Bones McKinney   198.0    83.0
125         125               Dick Mehen   196.0    88.0
126         126                Ken Menke   183.0    76.0
128         128                 Ed Mikan   203.0   104.0
129         129            George Mikan*   208.0   111.0
137         137             Jack Nichols   201.0   100.0
138         138          Richie Niemiera   185.0    74.0
139         139                Paul Noel   193.0    83.0
140         140                Jim Nolan   203.0    95.0
142         142          George Nostrand   203.0    88.0
147         147              John Oldham   190.0    79.0
154         154           Jack Parkinson   183.0    78.0
155         155          Charlie Parsley   188.0    79.0
156         156             Stan Patrick   188.0    83.0
160         160              Jack Phelan   196.0    88.0
161         161            Andy Phillip*   188.0    88.0
162         162             Jim Pollard*   193.0    83.0
164         164                 Les Pugh   201.0    86.0
167         167                  Don Ray   196.0    86.0
169         169             Arnie Risen*   206.0    90.0
171         171             Bill Roberts   206.0    95.0
172         172                Red Rocha   206.0    83.0
173         173            Kenny Rollins   183.0    76.0
175         175              Jerry Rullo   178.0    74.0
176         176              Ed Sadowski   196.0   108.0
177         177            Kenny Sailors   178.0    79.0
178         178                 Pep Saul   188.0    83.0
179         179            Herm Schaefer   183.0    79.0
185         185              Dick Schulz   188.0    87.0
186         186             Fred Scolari   178.0    81.0
188         188               Glen Selbo   190.0    88.0
190         190             Jim Seminoff   188.0    86.0
193         193            Carl Shaeffer   190.0    83.0
198         198              Jack Smiley   190.0    86.0
199         199              Chips Sobek   183.0    81.0
200         200              Odie Spears   196.0    92.0
201         201              Art Spector   193.0    90.0
203         203               Gene Stump   188.0    83.0
204         204          Mike Todorovich   196.0    99.0
206         206                Bob Tough   183.0    83.0
207         207           Blackie Towery   193.0    95.0
208         208             Dick Triptow   183.0    77.0
210         210               Gene Vance   190.0    88.0
212         212             Floyd Volker   193.0    92.0
215         215             Danny Wagner   183.0    77.0
217         217             Paul Walther   188.0    72.0
218         218            Bobby Wanzer*   183.0    77.0
219         219              Murray Wier   175.0    70.0
222         222            Max Zaslofsky   188.0    77.0
224         224             Paul Arizin*   193.0    86.0
226         226             Leon Blevins   188.0    72.0
227         227            Ike Borsavage   203.0    99.0
228         228               Art Burris   196.0    99.0
229         229          Gerry Calabrese   185.0    79.0
235         235               Bob Donham   188.0    86.0
240         240                Bob Lavoy   201.0    83.0
242         242              Don Lofgran   196.0    90.0
244         244              Joe McNamee   198.0    95.0
247         247            Tommy O'Keefe   188.0    83.0
248         248             Kevin O'Shea   188.0    79.0
249         249             Don Rehfeldt   201.0    95.0
251         251              Alan Sawyer   196.0    88.0
253         253          Dick Schnittker   196.0    90.0
254         254            Bill Sharman*   185.0    79.0
255         255           Don Barksdale*   198.0    90.0
260         260              Dick Dickey   185.0    79.0
262         262             Jerry Fowler   203.0   104.0
265         265           Neil Johnston*   203.0    95.0
266         266               Jack Kiley   185.0    77.0
269         269          Alfred McGuire*   188.0    81.0
270         270               Dave Minor   188.0    83.0
272         272          Wally Osterkorn   196.0    97.0
274         274               John Pilch   190.0    83.0
276         276              Sam Ranzino   185.0    83.0
281         281             Whitey Skoog   180.0    81.0
283         283             Bill Tosheff   185.0    79.0
289         289              Pete Darcey   201.0    98.0
291         291               Danny Finn   185.0    83.0
292         292               Dick Groat   180.0    81.0
294         294            Don Henriksen   201.0   102.0
295         295             Jim Holstein   190.0    81.0
296         296          Bob Lochmueller   196.0    83.0
302         302             Jack McMahon   185.0    83.0
304         304             Eddie Miller   203.0   102.0
305         305               Bill Mlkvy   193.0    86.0
306         306               Jim Mooney   196.0    97.0
307         307                Bob Naber   190.0    83.0
309         309             Mike O'Neill   190.0    95.0
313         313             Moe Radovich   183.0    72.0
314         314           Sherwin Raiken   188.0    83.0
315         315              Gene Rhodes   185.0    77.0
318         318             Zeke Zawoluk   201.0    97.0
323         323              Irv Bemoras   190.0    83.0
324         324              Bill Bolger   196.0    92.0
326         326               Gene Dyker   198.0   102.0
331         331          Bato Govedarica   180.0    83.0
334         334            Bob Houbregs*   201.0    95.0
337         337        Clyde Lovellette*   206.0   106.0
342         342             Bob Peterson   196.0    95.0
343         343             James Phelan   196.0    88.0
345         345            Frank Reddout   196.0    88.0
349         349           Don Sunderlage   185.0    81.0
350         350             Norm Swanson   198.0    95.0
353         353          George Yardley*   196.0    86.0
355         355              Tom Brennan   190.0    88.0
362         362              Dick Farley   193.0    86.0
365         365               Ed Kalafat   198.0   111.0
367         367                 Red Kerr   206.0   104.0
368         368                 Dan King   198.0    99.0
370         370        Ronnie MacGilvray   188.0    83.0
371         371             Tom Marshall   193.0    97.0
374         374             Carl McNulty   190.0    83.0
379         379              Bob Pettit*   206.0    92.0
380         380            Frank Ramsey*   190.0    86.0
381         381           Dick Rosenthal   196.0    92.0
383         383                Gene Shue   188.0    77.0
384         384            Art Spoelstra   206.0    99.0
386         386              Jack Turner   193.0    77.0
387         387             Bobby Watson   183.0    72.0
388         388          Skippy Whitaker   185.0    81.0
393         393                Red Davis   201.0    99.0
395         395             Walter Dukes   213.0    99.0
396         396           Ron Feiereisel   190.0    83.0
397         397               Al Ferrari   193.0    86.0
399         399            Dick Garmaker   190.0    90.0
402         402              Dick Hemric   198.0    99.0
403         403           Larry Hennessy   190.0    83.0
405         405            Jim Loscutoff   196.0    99.0
406         406             Chuck Mencel   183.0    76.0
407         407              Chuck Noble   193.0    86.0
408         408                 Med Park   188.0    92.0
409         409             Richie Regan   188.0    81.0
412         412              Bob Schafer   190.0    88.0
414         414            Jack Stephens   190.0    83.0
416         416             Jack Twyman*   198.0    95.0
418         418              Forest Able   190.0    81.0
419         419            Bob Armstrong   203.0    99.0
421         421              Gary Bergen   203.0    95.0
423         423               Bob Burrow   201.0   103.0
426         426             Cliff Hagan*   193.0    95.0
431         431                 Hal Lear   183.0    73.0
432         432           Slick Leonard*   190.0    83.0
434         434            Willie Naulls   198.0   102.0
438         438            Bill Russell*   208.0    97.0
439         439              Ron Shavlik   203.0    90.0
440         440                Ron Sobie   190.0    83.0
441         441             Norm Stewart   196.0    92.0
443         443         Lou Tsioropoulos   196.0    86.0
444         444           Doug Bolstorff   193.0    88.0
446         446             Dick Duckett   185.0    83.0
448         448               Bill Ebben   193.0    86.0
450         450             Larry Friend   193.0    83.0
456         456         Worthy Patterson   188.0    79.0
459         459        Lennie Rosenbluth   193.0    86.0
461         461              Guy Sparrow   198.0    98.0
462         462             Charlie Tyra   203.0   104.0
463         463                Jim Walsh   193.0    88.0
464         464              Win Wilfong   188.0    83.0
466         466               Jerry Bird   198.0    95.0
468         468             Pete Brennan   198.0    92.0
470         470              Archie Dees   203.0    92.0
471         471          Connie Dierking   206.0   100.0
474         474              Mike Farmer   201.0    95.0
475         475              Dave Gambee   198.0    97.0
478         478              Vern Hatton   190.0    88.0
481         481             Tommy Kearns   180.0    83.0
486         486             Guy Rodgers*   183.0    83.0
487         487             Phil Rollins   188.0    83.0
491         491             Bob Anderegg   190.0    90.0
493         493              Whitey Bell   183.0    81.0
494         494        Wilt Chamberlain*   216.0   124.0
496         496             Johnny Green   196.0    90.0
498         498              Tom Hawkins   196.0    95.0
500         500               Maury King   188.0    88.0
504         504             John Richter   206.0   102.0
507         507            Wayne Stevens   190.0    83.0
508         508              Tony Windis   185.0    72.0
511         511                Dave Budd   198.0    92.0
512         512              Ralph Davis   193.0    81.0
513         513           Swede Halbrook   221.0   106.0
514         514           Darrall Imhoff   208.0    99.0
515         515              Ron Johnson   203.0    97.0
518         518          Pickles Kennedy   180.0    81.0
519         519              Fred LaCour   196.0    95.0
520         520               George Lee   193.0    90.0
523         523                  Don Ohl   190.0    86.0
524         524              Joe Roberts   198.0    97.0
525         525         Oscar Robertson*   196.0    92.0
528         528           Lenny Wilkens*   185.0    81.0
529         529         Stacey Arceneaux   193.0    95.0
530         530            Walt Bellamy*   211.0   102.0
535         535                Ed Burton   198.0   102.0
538         538               Howie Carl   175.0    72.0
540         540              Johnny Egan   180.0    81.0
543         543                 Ron Horn   201.0    99.0
544         544             Doug Kistler   206.0    95.0
545         545              York Larese   193.0    83.0
546         546           Ted Luckenbill   198.0    92.0
549         549             Paul Neumann   185.0    79.0
551         551            Chuck Osborne   198.0    95.0
552         552            Gary Phillips   190.0    85.0
553         553           Frank Radovich   203.0   106.0
555         555              Lee Shaffer   201.0    99.0
557         557             Adrian Smith   185.0    81.0
560         560            Horace Walker   190.0    95.0
561         561           Bob Wiesenhahn   193.0    97.0
562         562              Wayne Yates   203.0   106.0
566         566             Bill Bridges   198.0   103.0
567         567             Len Chappell   203.0   108.0
568         568               Johnny Cox   193.0    81.0
569         569        Dave DeBusschere*   198.0    99.0
570         570         Terry Dischinger   201.0    85.0
573         573              Leroy Ellis   208.0    95.0
574         574               Dave Fedor   198.0    86.0
576         576             Dave Gunther   201.0    86.0
578         578           John Havlicek*   196.0    92.0
579         579          Wayne Hightower   203.0    87.0
581         581           Kevin Loughery   190.0    86.0
582         582              Bill McGill   206.0   102.0
585         585              Don Nelson*   198.0    95.0
586         586               Mel Nowell   188.0    77.0
587         587                Bud Olsen   203.0    99.0
588         588          John Rudometkin   198.0    92.0
598         598              Hubie White   193.0    92.0
600         600              Jay Arnette   188.0    79.0
603         603          Jerry Greenspan   196.0    88.0
606         606               Art Heyman   196.0    92.0
608         608               Tom Hoover   206.0   104.0
611         611                Don Kojis   196.0    97.0
612         612             Jerry Lucas*   203.0   104.0
615         615              Ken Rohloff   183.0    88.0
616         616          Larry Siegfried   190.0    86.0
618         618              Tom Thacker   188.0    77.0
622         622             John Windsor   203.0    97.0
624         624               Ron Bonham   196.0    87.0
625         625              Gary Bradds   203.0    95.0
626         626                Em Bryant   185.0    79.0
627         627             Joe Caldwell   196.0    88.0
628         628               Mel Counts   213.0   104.0
636         636               Wali Jones   193.0   102.0
641         641             Jeff Mullins   193.0    86.0
642         642              Cotton Nash   196.0    97.0
645         645           John Thompson*   208.0   102.0
647         647            George Wilson   203.0   102.0
650         650              Bill Buntin   201.0   113.0
652         652        Billy Cunningham*   198.0    95.0
653         653           Keith Erickson   196.0    88.0
656         656           Gail Goodrich*   185.0    77.0
658         658           Jon McGlocklin   196.0    92.0
660         660                 Ron Reed   196.0    92.0
668         668           Jim Washington   198.0    95.0
669         669                Ron Watts   198.0    95.0
674         674               Dave Bing*   190.0    81.0
675         675               John Block   206.0    93.0
677         677           Jerry Chambers   196.0    83.0
678         678             Archie Clark   188.0    79.0
681         681                Joe Ellis   198.0    79.0
684         684              Bob Hogsett   201.0   104.0
685         685               Lou Hudson   196.0    95.0
686         686             Neil Johnson   203.0    95.0
687         687             Toby Kimball   198.0    99.0
688         688               Tommy Kron   196.0    90.0
691         691               Jack Marin   201.0    90.0
692         692          Bill Melchionni   185.0    74.0
694         694            Erwin Mueller   203.0   104.0
695         695             Dorie Murrey   203.0    97.0
696         696           Flynn Robinson   185.0    83.0
697         697           Cazzie Russell   196.0    98.0
698         698          Dave Schellhase   190.0    92.0
701         701              Walt Wesley   211.0    99.0
707         707             Jim Caldwell   208.0   108.0
711         711               Sonny Dove   201.0    89.0
717         717          Dennis Hamilton   203.0    95.0
718         718             Clem Haskins   190.0    88.0
722         722               Nick Jones   188.0    86.0
725         725              Bobby Lewis   190.0    79.0
726         726                Paul Long   188.0    81.0
730         730               Jay Miller   196.0    92.0
734         734               Pat Riley*   193.0    92.0
739         739             Jimmy Walker   190.0    88.0
741         741              Roland West   193.0    80.0
746         746          Zaid Abdul-Aziz   206.0   106.0
750         750            Ed Biedenbach   185.0    79.0

In [99]:
# 13
eb_filter = (df["Player"].str.contains('eb'))
df_eb_filter = df[eb_filter]
# print(df_eb_filter)

print(f"Total item of df_eb_filter: {df_eb_filter.shape[0]}")
df_eb_filter = df[eb_filter]

Total item of df_eb_filter: 17

In [ ]:
# 14
startswith_j_filter = (df["Player"].str.startswith("J")) 
startswith_j_df = df[startswith_j_filter].loc[:, "Player":]
print(startswith_j_df)
# print(f"Count of startswith j: {startswith_j_df.count()}")

                  Player  height  weight  \
8        Jake Bornheimer   196.0    90.0
12           Joe Bradley   190.0    79.0
18            Jim Browne   208.0   106.0
20        Jack Burmaster   190.0    86.0
25           Jake Carter   193.0    88.0
27           John Chaney   190.0    83.0
31          Jack Coleman   201.0    88.0
34           Jack Cotton   201.0    90.0
38          Jimmy Darden   185.0    77.0
42            Joe Dolhon   183.0    79.0
49        Johnny Ezersky   190.0    79.0
53       Jerry Fleishman   188.0    86.0
54            Joe Fulks*   196.0    86.0
65          Joe Graboski   201.0    88.0
75           John Hargis   188.0    81.0
85           Joe Holland   193.0    83.0
97           Jack Kerris   198.0    97.0
112           John Logan   188.0    79.0
115    Johnny Macknowski   183.0    81.0
116         John Mahnken   203.0    99.0
117          John Mandic   193.0    92.0
135         Joe Mullaney   183.0    74.0
136          Jerry Nagel   183.0    86.0
137         Jack Nichols   201.0   100.0
140            Jim Nolan   203.0    95.0
141     Johnny Norlander   190.0    81.0
147          John Oldham   190.0    79.0
149           Johnny Orr   190.0    88.0
154       Jack Parkinson   183.0    78.0
157         Johnny Payak   193.0    78.0
160          Jack Phelan   196.0    88.0
162         Jim Pollard*   193.0    83.0
163       John Pritchard   206.0    99.0
175          Jerry Rullo   178.0    74.0
190         Jim Seminoff   188.0    86.0
198          Jack Smiley   190.0    86.0
205          Jack Toomay   198.0    97.0
239           Joe Hutton   185.0    77.0
244          Joe McNamee   198.0    95.0
250           Jim Riffey   193.0    90.0
261         Jake Fendley   183.0    81.0
262         Jerry Fowler   203.0   104.0
266           Jack Kiley   185.0    77.0
268       John McConathy   196.0    88.0
274           John Pilch   190.0    83.0
277        John Rennicke   188.0    83.0
282        Jim Slaughter   211.0    95.0
285        Jim Baechtold   193.0    92.0
286           Jim Brasco   185.0    77.0
295         Jim Holstein   190.0    81.0
299       Jack McCloskey   188.0    86.0
302         Jack McMahon   185.0    83.0
306           Jim Mooney   196.0    97.0
308         John O'Boyle   188.0    83.0
329         Jim Fritsche   203.0    95.0
330          Jack George   188.0    86.0
338            Jim Luisi   188.0    81.0
339         Jack Molinas   198.0    90.0
340             Jim Neal   211.0   106.0
343         James Phelan   196.0    88.0
348            Joe Smyth   190.0    97.0
375         Jackie Moore   196.0    81.0
385           Jim Tucker   201.0    83.0
386          Jack Turner   193.0    77.0
389        Jesse Arnelle   196.0    99.0
404         Johnny Horan   203.0    86.0
405        Jim Loscutoff   196.0    99.0
414        Jack Stephens   190.0    83.0
416         Jack Twyman*   198.0    95.0
420          John Barber   198.0    95.0
428            Joe Holup   198.0    97.0
433      Johnny McCarthy   185.0    83.0
435           Jim Paxson   198.0    90.0
437              Jim Ray   185.0    81.0
454            Jim Krebs   203.0   104.0
457        Jerry Paulson   188.0    83.0
463            Jim Walsh   193.0    88.0
466           Jerry Bird   198.0    95.0
483           Jim Palmer   203.0   101.0
484            Jack Parr   206.0    99.0
496         Johnny Green   196.0    90.0
504         John Richter   206.0   102.0
505          Joe Ruklick   206.0    99.0
522      Jackie Moreland   201.0    97.0
524          Joe Roberts   198.0    97.0
527          Jerry West*   188.0    79.0
533       Joe Buckhalter   201.0    95.0
539         Jimmy Darrow   178.0    77.0
540          Johnny Egan   180.0    81.0
564        John Barnhill   185.0    81.0
568           Johnny Cox   193.0    81.0
575           Jack Foley   190.0    77.0
578       John Havlicek*   196.0    92.0
588      John Rudometkin   198.0    92.0
589           Jeff Slade   198.0    99.0
600          Jay Arnette   188.0    79.0
603      Jerry Greenspan   196.0    88.0
605       Jerry Harkness   188.0    79.0
610             Jim King   188.0    79.0
612         Jerry Lucas*   203.0   104.0
622         John Windsor   203.0    97.0
623           Jim Barnes   203.0    95.0
627         Joe Caldwell   196.0    88.0
630          Jerry Grote   193.0    97.0
641         Jeff Mullins   193.0    86.0
645       John Thompson*   208.0   102.0
646        John Tresvant   201.0    97.0
649        Jesse Branson   201.0    88.0
654       John Fairchild   203.0    92.0
658       Jon McGlocklin   196.0    92.0
661         Jerry Sloan*   196.0    88.0
664         Joe Strawder   208.0   106.0
668       Jim Washington   198.0    95.0
672        Johnny Austin   183.0    77.0
673          Jim Barnett   203.0    95.0
675           John Block   206.0    93.0
677       Jerry Chambers   196.0    83.0
681            Joe Ellis   198.0    79.0
691           Jack Marin   201.0    90.0
700             Jim Ware   201.0    95.0
706            Jim Burns   190.0    88.0
707         Jim Caldwell   208.0   108.0
709            Jim Davis   206.0   102.0
713              Jim Fox   208.0   104.0
721         Johnny Jones   201.0    92.0
730           Jay Miller   196.0    92.0
733             Jim Reid   198.0    95.0
739         Jimmy Walker   190.0    88.0
742          John Wetzel   196.0    86.0
752            Jay Carty   203.0    99.0
767          Joe Kennedy   198.0    95.0
783           John Trapp   201.0    95.0
792         John Arthurs   193.0    83.0
793          Johnny Baum   196.0    90.0
818          John Warren   190.0    81.0
819                Jo Jo   190.0    81.0
829        Jimmy Collins   188.0    79.0
830            Joe Cooke   190.0    79.0
837            Jake Ford   190.0    81.0
845          John Hummer   206.0   104.0
848         John Johnson   201.0    90.0
856        Jim McMillian   196.0    97.0
873           Joe Thomas   198.0    92.0
875         John Vallely   190.0    83.0
878            Jeff Webb   193.0    77.0
891         Jim Cleamons   190.0    83.0
893       Jackie Dinkins   196.0    95.0
897     Jeff Halliburton   196.0    87.0
899           Jake Jones   190.0    81.0
903            Jim Marsh   201.0    97.0
904        Jim McDaniels   211.0   103.0
909         John Mengelt   188.0    88.0
917        Jackie Ridgle   193.0    88.0
935         John Brisker   196.0    95.0
946        John Gianelli   208.0    99.0
962            Jim Price   190.0    88.0
972       Justus Thigpen   185.0    72.0
973         John Tschogl   198.0    93.0
976          Joby Wright   203.0    99.0
980           Jim Brewer   206.0    95.0
982           John Brown   201.0    99.0
995           Jim Garvin   201.0    90.0
1010           Jim Owens   196.0    90.0
1012          Joe Reaves   196.0    95.0
1020             Jim Ard   203.0    97.0
1027          Jim Chones   211.0    99.0
1029          Jesse Dark   196.0    95.0
1031           John Drew   198.0    92.0
1042         Jimmy Jones   193.0    85.0
1067      Jamaal Wilkes*   198.0    86.0
1072     Jerome Anderson   196.0    88.0
1073   Jerry Baskerville   201.0    86.0
1076    Junior Bridgeman   196.0    95.0
1077          Joe Bryant   206.0    83.0
1079       Jim Creighton   203.0    90.0
1098        John Lambert   208.0   102.0
1099      John Laskowski   198.0    83.0
1103         Jim McElroy   190.0    86.0
1106     Joe Meriweather   208.0    97.0
1111          John Roche   190.0    77.0
1115        John Shumate   206.0   106.0
1141        Johnny Davis   188.0    77.0
1147          Jim Eakins   211.0    97.0
1151      Julius Erving*   201.0    95.0
1183          John Lucas   190.0    79.0
1191      Johnny Neumann   198.0    90.0
1194            Joe Pace   208.0    99.0
1204         James Silas   185.0    81.0
1217             Jan Van   185.0    79.0
1227     John Williamson   188.0    83.0
1235          Jim Bostic   201.0   102.0
1246        Jacky Dorsey   201.0   104.0
1248       James Edwards   213.0   102.0
1257         Joe Hassett   196.0    81.0
1264        John Kuester   188.0    81.0
1281          Jack Sikma   211.0   104.0
1304         Jack Givens   196.0    92.0
1307         James Hardy   203.0    99.0
1313        Jeff Judkins   198.0    83.0
1314         Joel Kramer   201.0    92.0
1316           John Long   196.0    88.0
1319          John Olive   201.0    95.0
1326     Jackie Robinson   198.0    95.0
1327           John Rudd   201.0   104.0
1336    Jerome Whitehead   208.0    99.0
1339        James Bailey   206.0    99.0
1345           Jeff Cook   208.0    97.0
1347       John Coughran   201.0   102.0
1360         Johnny High   190.0    83.0
1385       Jim Spanarkel   196.0    86.0
1397           Joe Barry   193.0    88.0
1405     James Donaldson   218.0   124.0
1408          John Duren   190.0    88.0
1435        Johnny Moore   185.0    79.0
1441       Jawann Oldham   213.0    97.0
1447           James Ray   203.0    97.0
1453      Jerry Sichting   185.0    76.0
1456         John Stroud   201.0    97.0
1464        James Wilkes   198.0    86.0
1465        Jeff Wilkins   211.0   104.0
1477          Jim Brogan   193.0    83.0
1482          Joe Cooper   208.0   104.0
1486        John Douglas   188.0    77.0
1497           Jeff Lamp   198.0    88.0
1503     John McCullough   193.0    86.0
1512         Jeff Ruland   208.0   108.0
1514           Jim Smith   206.0   102.0
1522         Jay Vincent   201.0    99.0
1532       J.J. Anderson   190.0    83.0
1534         John Bagley   183.0    83.0
1541         Jerry Eaves   193.0    81.0
1547          John Greig   201.0    97.0
1552       Jim Johnstone   211.0   111.0
1555         Joe Kopicki   206.0   108.0
1574      Jose Slaughter   196.0    92.0
1577         Jeff Taylor   193.0    79.0
1591       James Worthy*   206.0   102.0
1592            Jim Zoet   216.0   108.0
1606         John Garris   203.0    92.0
1619         Jeff Malone   193.0    92.0
1625         John Paxson   188.0    83.0
1626         John Pinone   203.0   104.0
1634        Jon Sundvold   188.0    77.0
1636          Jim Thomas   190.0    86.0
1671       Jay Humphries   190.0    83.0
1676       Jerome Kersey   201.0    97.0
1678          Jay Murphy   206.0    99.0
1681        Jim Petersen   208.0   106.0
1687       John Schweitz   198.0    95.0
1692      John Stockton*   185.0    77.0
1696         Jeff Turner   206.0   104.0
1708         John Battle   188.0    79.0
1719          Jeff Cross   208.0   108.0
1720         Joe Dumars*   190.0    86.0
1728    Jerome Henderson   211.0   104.0
1734          Joe Kleine   211.0   115.0
1735          Jon Koncak   213.0   113.0
1752      Jerry Reynolds   203.0    90.0
1773          Joe Binion   203.0   106.0
1779      Johnny Dawkins   188.0    74.0
1790       Jeff Hornacek   190.0    86.0
1798         Jim Lampley   208.0   104.0
1805       Johnny Newman   201.0    86.0
1812       Johnny Rogers   208.0   102.0
1814         John Salley   211.0   104.0
1827       John Williams   188.0    83.0
1834       Joe Arlauckas   206.0   104.0
1843          Jim Farmer   193.0    86.0
1875       John Stroeder   208.0   117.0
1878        Jamie Waller   193.0    97.0
1888            Joe Wolf   211.0   104.0
1918         Jeff Grayer   196.0    90.0
1919          Jack Haley   208.0   108.0
1927         Jerome Lane   198.0   104.0
1930             Jim Les   180.0    74.0
1940          Jose Ortiz   208.0   102.0
1949        Jim Rowinski   203.0   113.0
1952         John Shasky   211.0   106.0
1957         John Starks   190.0    81.0
1987         Jay Edwards   213.0   102.0
1998       Jaren Jackson   193.0    86.0
2005           Jeff Lebo   188.0    81.0
2012         Jeff Martin   196.0    88.0
2021         John Morton   190.0    81.0
2027           J.R. Reid   203.0   106.0
2035        Jeff Sanders   203.0   102.0
2038          Jay Taylor   190.0    86.0
2055        Jud Buechler   198.0    99.0
2075       Jim Grandholm   213.0   106.0
2093       Jerrod Mustaf   208.0   107.0
2113     Jayson Williams   206.0   108.0
2160        Jimmy Oliver   196.0    92.0
2178         John Turner   203.0   111.0
2179         Joao Vianna   206.0    97.0
2182           Jon Barry   193.0    88.0
2190        Joe Courtney   203.0   106.0
2191         John Crotty   185.0    83.0
2202       Jay Guidinger   208.0   115.0
2206         Jim Jackson   198.0    99.0
2269          Josh Grant   206.0   101.0
2293      Jamal Mashburn   203.0   108.0
2304      James Robinson   198.0    95.0
2321     James Blackwell   183.0    86.0
2331       Jerome Harmon   193.0    86.0
2334        Juwan Howard   206.0   108.0
2337          Jason Kidd   193.0    92.0
2342       Jim McIlvaine   216.0   108.0
2351        Julius Nwosu   208.0   115.0
2359          Jalen Rose   203.0    95.0
2372        Jamie Watson   201.0    86.0
2377        Jerome Allen   193.0    83.0
2378        John Amaechi   208.0   122.0
2387     Junior Burrough   203.0   109.0
2388        Jason Caffey   203.0   115.0
2393          John Coker   213.0   114.0
2409          Jimmy King   188.0    79.0
2433           Joe Smith   213.0   106.0
2435    Jerry Stackhouse   198.0    98.0
2444        Jeff Webster   203.0   105.0
2458       Jimmy Carruth   208.0   120.0
2466         Jamie Feick   206.0   115.0
2489        Jeff McInnis   193.0    86.0
2495     Jermaine O'Neal   211.0   102.0
2502        Jason Sasser   201.0   102.0
2504         James Scott   198.0    81.0
2508        Joe Stephens   201.0    95.0
2514        John Wallace   203.0   102.0
2516     Jerome Williams   206.0    93.0
2529       James Collins   193.0    88.0
2530        James Cotton   201.0    90.0
2545    Jerald Honeycutt   206.0   111.0
2553        Jason Lawson   211.0   108.0
2558      Jeff Nordgaard   201.0   102.0
2570       Johnny Taylor   206.0    99.0
2572         John Thomas   198.0    92.0
2575       Jacque Vaughn   185.0    86.0
2602      J.R. Henderson   206.0   104.0
2606        Jerome James   213.0   136.0
2609     Jonathan Kerner   211.0   111.0
2617        Jelani McCoy   208.0   111.0
2632    Jeffrey Sheppard   190.0    86.0
2643        Jahidi White   206.0   131.0
2644      Jason Williams   206.0   108.0
2651     Jonathan Bender   211.0    91.0
2662      John Celestand   193.0    80.0
2668         Jeff Foster   211.0   107.0
2677    Jermaine Jackson   193.0    92.0
2681       Jumaine Jones   203.0    98.0
2689       Jason Miskiri   188.0    79.0
2693         James Posey   203.0    97.0
2700         Jason Terry   188.0    83.0
2701        Jamel Thomas   198.0    97.0
2715       Jason Collier   193.0    88.0
2717      Jamal Crawford   196.0    90.0
2726          Jason Hart   190.0    83.0
2736     Jamaal Magloire   211.0   117.0
2745        Jerome Moiso   208.0   106.0
2757      Joel Przybilla   216.0   115.0
2761      Jamal Robinson   198.0    95.0
2765        Jabari Smith   211.0   113.0
2770     Jake Tsakalidis   218.0   129.0
2773        Jake Voskuhl   211.0   111.0
2786      Jamison Brewer   193.0    83.0
2795      Jarron Collins   193.0    88.0
2796       Jason Collins   193.0    88.0
2797         Joe Crispin   183.0    83.0
2805        Joseph Forte   193.0    87.0
2817         Joe Johnson   201.0    90.0
2827    Jason Richardson   198.0    99.0
2829        Jeryl Sasser   198.0    90.0
2837      Jamaal Tinsley   190.0    88.0
2839     Jeff Trepagnier   193.0    90.0
2850         J.R. Bremer   206.0   117.0
2856          Juan Dixon   190.0    74.0
2865   Junior Harrington   193.0    81.0
2866     Juaquin Hawkins   201.0    99.0
2873      Jared Jeffries   211.0   104.0
2883       Jannero Pargo   185.0    79.0
2891        John Salmons   201.0    95.0
2892       Jamal Sampson   211.0   106.0
2900         Jiri Welsch   201.0    94.0
2904        Jay Williams   206.0   108.0
2911      Jerome Beasley   208.0   107.0
2924          Josh Davis   188.0    77.0
2940        Jarvis Hayes   201.0    99.0
2942         Josh Howard   201.0    95.0
2948         James Jones   190.0    81.0
2950        Jason Kapono   203.0    96.0
2983       Jackie Butler   208.0   113.0
2986      Josh Childress   203.0    95.0
2993        John Edwards   213.0   124.0
3014       Jameer Nelson   183.0    86.0
3019         Justin Reed   203.0   108.0
3020        Jared Reiner   211.0   115.0
3025          J.R. Smith   188.0    86.0
3026          Josh Smith   213.0   106.0
3034        James Thomas   198.0    97.0
3037      Jackson Vroman   208.0    99.0
3054       Jose Calderon   190.0    90.0
3067         Joey Graham   201.0   102.0
3076        Julius Hodge   201.0    95.0
3078        Jarrett Jack   190.0    90.0
3087       Jason Maxiell   201.0   117.0
3097         Johan Petro   213.0   112.0
3098         Josh Powell   206.0   102.0
3108     James Singleton   203.0    97.0
3131     James Augustine   208.0   106.0
3134          J.J. Barea   203.0    94.0
3137          Josh Boone   208.0   107.0
3148       Jordan Farmar   188.0    81.0
3151     Jorge Garbajosa   206.0   111.0
3166          James Lang   208.0   129.0
3184         J.J. Redick   188.0    86.0
3185   Jeremy Richardson   198.0    83.0
3199         James White   206.0   131.0
3200     Justin Williams   208.0   102.0
3208        Joel Anthony   206.0   111.0
3215  Javaris Crittenton   196.0    90.0
3216   Jermareo Davidson   208.0   104.0
3219        Jared Dudley   201.0   102.0
3226          Jeff Green   196.0    88.0
3239      Josh McRoberts   208.0   108.0
3240        Jamario Moon   203.0    92.0
3241         Juan Carlos   203.0    92.0
3243         Joakim Noah   211.0   104.0
3253         Jason Smith   211.0   113.0
3264       Julian Wright   203.0   102.0
3268       Joe Alexander   203.0   104.0
3273      Jerryd Bayless   190.0    90.0
3277        Joe Crawford   196.0    95.0
3278         Joey Dorsey   203.0   121.0
3284        J.R. Giddens   216.0   115.0
3290        J.J. Hickson   218.0   122.0
3308        JaVale McGee   213.0   122.0
3319      Jason Thompson   185.0    83.0
3327      Jawad Williams   206.0   108.0
3331          Jeff Ayres   188.0    83.0
3334        Jon Brockman   201.0   115.0
3342       JamesOn Curry   190.0    86.0
3349         Jonny Flynn   183.0    83.0
3357        James Harden   196.0    99.0
3358         Jordan Hill   208.0   106.0
3359        Jrue Holiday   193.0    92.0
3366       Jonas Jerebko   208.0   104.0
3367       James Johnson   206.0   113.0
3373         Jodie Meeks   193.0    95.0
3378     Jermaine Taylor   193.0    79.0
3379         Jeff Teague   188.0    84.0
3385         Jeff Adrien   201.0   111.0
3389      James Anderson   198.0    96.0
3400     Jordan Crawford   196.0    95.0
3405        Jeremy Evans   206.0    90.0
3425          Jeremy Lin   190.0    90.0
3449           John Wall   193.0    88.0
3458        Jimmy Butler   201.0    99.0
3462      Justin Dentmon   180.0    83.0
3463        Jerome Dyson   190.0    81.0
3465          Jeff Foote   213.0   120.0
3467     Jimmer Fredette   188.0    88.0
3470     Jordan Hamilton   178.0    72.0
3471       Justin Harper   208.0   102.0
3472     Josh Harrellson   208.0   124.0
3484      JaJuan Johnson   206.0   113.0
3485       Jerome Jordan   213.0   114.0
3493           Jon Leuer   208.0   103.0
3502        Jeremy Pargo   188.0    99.0
3506          Josh Selby   188.0    83.0
3511         Jerry Smith   188.0    86.0
3514        Julyan Stone   198.0    90.0
3522        Jeremy Tyler   208.0   117.0
3524          Jan Vesely   211.0   108.0
3529     Jordan Williams   188.0    83.0
3532        Josh Akognon   180.0    83.0
3541         Jae Crowder   198.0   106.0
3542    Jared Cunningham   193.0    88.0
3549       Joel Freeland   208.0   113.0
3554         John Henson   211.0   103.0
3555      Justin Holiday   198.0    83.0
3557        John Jenkins   193.0    97.0
3568         Jeremy Lamb   196.0    83.0
3595     Jared Sullinger   206.0   117.0
3596      Jeffery Taylor   193.0    79.0
3600   Jonas Valanciunas   213.0   120.0
3601      Jarvis Varnado   206.0   104.0
3635     Jamaal Franklin   196.0    86.0
3638     Jorge Gutierrez   190.0    86.0