# 1. String Functions of Pandas
In Pandas, string operations are handled with .str accessor, which allows you to apply vectorized string methods to Series of strings efficiently.

# 2. Common Pandas String Functions (.str.)
| Function                | Description                                      |
|-------------------------|--------------------------------------------------|
| `str.lower()`           | Converts all characters to lowercase             |
| `str.upper()`           | Converts all characters to uppercase             |
| `str.title()`           | Converts to title case (capitalize each word)    |
| `str.strip()`           | Removes leading/trailing whitespace              |
| `str.replace(old, new)` | Replaces substrings                              |
| `str.contains(pattern)` | Returns `True` if string contains pattern        |
| `str.startswith('text')`| Checks if string starts with the given text      |
| `str.endswith('text')`  | Checks if string ends with the given text        |
| `str.len()`             | Returns length of each string                    |
| `str.split(' ')`        | Splits each string by the given delimiter        |

In [2]:
# import libraries
import pandas as pd
import numpy as np

In [12]:
# load the dataset

file_path = r"D:\PandasForDataAnalysis\datasets\nba_players.csv"
df = pd.read_csv(file_path)

if df is None:
    raise FileNotFoundError("File Path Not Found. Please Check Your File Path")

df.head(10)

,Player_ID,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
5,5,Gene Berce,180.0,79.0,Marquette University,1926.0,NaN,NaN
6,6,Charlie Black,196.0,90.0,University of Kansas,1921.0,Arco,Idaho
7,7,Nelson Bobb,183.0,77.0,Temple University,1924.0,Philadelphia,Pennsylvania
8,8,Jake Bornheimer,196.0,90.0,Muhlenberg College,1927.0,New Brunswick,New Jersey
9,9,Vince Boryla,196.0,95.0,University of Denver,1927.0,East Chicago,Indiana

In [13]:
df.dropna(how = "all", inplace= True)
print(df.head(20))

    Player_ID            Player  height  weight  \
0           0   Curly Armstrong   180.0    77.0
1           1      Cliff Barker   188.0    83.0
2           2     Leo Barnhorst   193.0    86.0
3           3        Ed Bartels   196.0    88.0
4           4       Ralph Beard   178.0    79.0
5           5        Gene Berce   180.0    79.0
6           6     Charlie Black   196.0    90.0
7           7       Nelson Bobb   183.0    77.0
8           8   Jake Bornheimer   196.0    90.0
9           9      Vince Boryla   196.0    95.0
10         10         Don Boven   193.0    95.0
11         11     Harry Boykoff   208.0   102.0
12         12       Joe Bradley   190.0    79.0
13         13       Bob Brannum   196.0    97.0
14         14        Carl Braun   196.0    81.0
15         15     Frankie Brian   185.0    81.0
16         16  Price Brookfield   193.0    83.0
17         17         Bob Brown   193.0    92.0
18         18        Jim Browne   208.0   106.0
19         19        Walt Budko   196.0    99.0

                            collage    born     birth_city   birth_state
0                Indiana University  1918.0            NaN           NaN
1            University of Kentucky  1921.0       Yorktown       Indiana
2          University of Notre Dame  1924.0            NaN           NaN
3   North Carolina State University  1925.0            NaN           NaN
4            University of Kentucky  1927.0    Hardinsburg      Kentucky
5              Marquette University  1926.0            NaN           NaN
6              University of Kansas  1921.0           Arco         Idaho
7                 Temple University  1924.0   Philadelphia  Pennsylvania
8                Muhlenberg College  1927.0  New Brunswick    New Jersey
9              University of Denver  1927.0   East Chicago       Indiana
10      Western Michigan University  1925.0      Kalamazoo      Michigan
11            St. John's University  1922.0       Brooklyn      New York
12        Oklahoma State University  1928.0     Washington      Oklahoma
13        Michigan State University  1925.0            NaN           NaN
14               Colgate University  1927.0       Brooklyn      New York
15       Louisiana State University  1923.0        Zachary     Louisiana
16        West Texas A&M University  1920.0       Floydada         Texas
17                 Miami University  1923.0     Versailles          Ohio
18                              NaN  1930.0     Midlothian      Illinois
19              Columbia University  1925.0        Kearney    New Jersey

In [14]:
columns = df.columns
print(columns)

Index(['Player_ID', 'Player', 'height', 'weight', 'collage', 'born',
       'birth_city', 'birth_state'],
      dtype='object')

In [32]:
#df.rename(columns={"PLAYER": "PLAYER_NAME"})
df.columns = [col.upper() for col in df.columns]
df.head(5)

# Using str.upper() methods
df["PLAYER"] = df["PLAYER"].str.upper()

# using str.contains() method
# df = df[df.BIRTH_CITY.str.contains('Philadelphia')]

# using str.replace method
#df = df.COLLAGE.str.replace("","-")

# add new columns
#df[["FIRSTNAME","LASTNAME"]] = df["PLAYER"].loc[df["PLAYER"].str.split().str.len() == 2].str.split(expand = True)
df[["FIRSTNAME", "LASTNAME"]] = df["PLAYER"].str.rsplit(" ", n=1, expand=True)

# list comp example

df.tail(20)

,PLAYER_ID,PLAYER,HEIGHT,WEIGHT,COLLAGE,BORN,BIRTH_CITY,BIRTH_STATE,FIRSTNAME,LASTNAME
3902,3902,DARIO SARIC,208.0,101.0,NaN,1994.0,Sibenik,Croatia,DARIO,SARIC
3903,3903,TOMAS SATORANSKY,201.0,95.0,NaN,1991.0,Prague,Czech Republic,TOMAS,SATORANSKY
3904,3904,WAYNE SELDEN,196.0,104.0,University of Kansas,1994.0,Roxbury,Massachusetts,WAYNE,SELDEN
3905,3905,PASCAL SIAKAM,206.0,104.0,New Mexico State University,1994.0,Douala,Cameroon,PASCAL,SIAKAM
3906,3906,DIAMOND STONE,211.0,115.0,University of Maryland,1997.0,Milwaukee,Wisconsin,DIAMOND,STONE
3907,3907,EDY TAVARES,211.0,115.0,NaN,1997.0,NaN,NaN,EDY,TAVARES
3908,3908,ISAIAH TAYLOR,190.0,77.0,University of Texas at Austin,1994.0,Hayward,California,ISAIAH,TAYLOR
3909,3909,MIKE TOBEY,213.0,117.0,University of Virginia,1994.0,Monroe,New York,MIKE,TOBEY
3910,3910,TYLER ULIS,178.0,68.0,University of Kentucky,1996.0,Detroit,Michigan,TYLER,ULIS
3911,3911,JARROD UTHOFF,206.0,100.0,University of Iowa,1993.0,Cedar Rapids,Iowa,JARROD,UTHOFF
3912,3912,DENZEL VALENTINE,198.0,96.0,Michigan State University,1993.0,Lansing,Michigan,DENZEL,VALENTINE
3913,3913,FRED VANVLEET,183.0,88.0,Wichita State University,1994.0,Rockford,Illinois,FRED,VANVLEET
3914,3914,TAUREAN WALLER-PRINCE,183.0,88.0,NaN,1994.0,NaN,NaN,TAUREAN,WALLER-PRINCE
3915,3915,OKARO WHITE,203.0,92.0,Florida State University,1992.0,Clearwater,Florida,OKARO,WHITE
3916,3916,ISAIAH WHITEHEAD,193.0,96.0,Seton Hall University,1995.0,Brooklyn,New York,ISAIAH,WHITEHEAD
3917,3917,TROY WILLIAMS,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina,TROY,WILLIAMS
3918,3918,KYLE WILTJER,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon,KYLE,WILTJER
3919,3919,STEPHEN ZIMMERMAN,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee,STEPHEN,ZIMMERMAN
3920,3920,PAUL ZIPSER,203.0,97.0,NaN,1994.0,Heidelberg,Germany,PAUL,ZIPSER
3921,3921,IVICA ZUBAC,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina,IVICA,ZUBAC