# Pandas Dataframe

In [1]:
# import Pandas
import pandas as pd

In [6]:
# create two pandas series 
series1 = pd.Series([1, 7, 2, 8, 3, 9, 4, 5, 6])
series2 = pd.Series([11, 77, 22, 88, 30, 90, 44, 55, 60])
print("*************** Pandas Series and DataFrame Operations ***************")
print(f"series1:\n: {series1}\nType of series1 {type(series1)}\n")
print(f"series2:\n: {series2}\nType of series2 {type(series2)}\n")

sum_of_series = series1 + series2
print(f"sum_of_series1:\n: {sum_of_series}\nType of series1: {type(sum_of_series)}")

*************** Pandas Series and DataFrame Operations ***************
series1:
: 0    1
1    7
2    2
3    8
4    3
5    9
6    4
7    5
8    6
dtype: int64
Type of series1 <class 'pandas.core.series.Series'>

series2:
: 0    11
1    77
2    22
3    88
4    30
5    90
6    44
7    55
8    60
dtype: int64
Type of series2 <class 'pandas.core.series.Series'>

sum_of_series1:
: 0    12
1    84
2    24
3    96
4    33
5    99
6    48
7    60
8    66
dtype: int64
Type of series1: <class 'pandas.core.series.Series'>

In [10]:
amount_1 = pd.Series([100, 150, 75, 200, 30, 10])
amount_2 = pd.Series([52, 14, 96, 47, 7, 84])

# create a dictionary
fruits_dict = dict(mangoes = amount_1, pineapples = amount_2)

df_fruits = pd.DataFrame(fruits_dict)
print(f"****** Amount of Fruits******\n{df_fruits}")

****** Amount of Fruits******
   mangoes  pineapples
0      100          52
1      150          14
2       75          96
3      200          47
4       30           7
5       10          84

In [11]:
empty_df = pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [14]:
df_names = pd.DataFrame(["Emre","Ece","Erdal","Fasıl","Necmi","Ziya","Mehmet", "Ayşe","Makbule","Derin","Ezgi"], columns = ["Name"])
print(df_names)

       Name
0      Emre
1       Ece
2     Erdal
3     Fasıl
4     Necmi
5      Ziya
6    Mehmet
7      Ayşe
8   Makbule
9     Derin
10     Ezgi

In [ ]:
employees_data = [["Emre", 25000,"Data Scientist"], ["Azize", 36000, "Human Resources Specialist"], ["Erdal", 42000,"Financial Specialist"], ["Züleyha", 22000, "Graphic Designer"], ["Ece",54000, "Data Architecture"]]
df_employees= pd.DataFrame(employees_data, columns = ["Name","Salary","Position"], index = [1, 2, 3, 4, 5]) 
print("************************ Employee Details ************************\n")
print(df_employees,"\n")
print("*"*len("************************ Employee Details ************************"))

# default parameter sort => data, index, columns

************************ Employee Details ************************

      Name  Salary                    Position
1     Emre   25000              Data Scientist
2    Azize   36000  Human Resources Specialist
3    Erdal   42000        Financial Specialist
4  Züleyha   22000            Graphic Designer
5      Ece   54000           Data Architecture

******************************************************************

In [26]:
employee_dict = {
    "Name": ["Emre", "Azize", "Erdal", "Züleyha", "Ece"],
    "Salary": [25000, 36000, 42000, 22000, 54000],
    "Position": ["Data Scientist", "Human Resources Specialist", "Financial Specialist", "Graphic Designer", "Data Architecture"]
}
print("***************************** The Other Way *****************************")
df_employee_dict = pd.DataFrame(employee_dict)
print(df_employee_dict)
print("*"*73)

***************************** The Other Way *****************************
      Name  Salary                    Position
0     Emre   25000              Data Scientist
1    Azize   36000  Human Resources Specialist
2    Erdal   42000        Financial Specialist
3  Züleyha   22000            Graphic Designer
4      Ece   54000           Data Architecture
*************************************************************************

In [27]:
list_example = [
    {"Football Team": "Galatasaray", "Number of Championships": 25},
    {"Football Team": "Fenerbahçe", "Number of Championships": 19},
    {"Football Team": "Beşiktaş", "Number of Championships": 16},
    {"Football Team": "Trabzonspor", "Number of Championships": 7},
    {"Football Team": "Başakşehir", "Number of Championships": 1},
    {"Football Team": "Bursaspor", "Number of Championships": 1}
]

df_teams = pd.DataFrame(list_example)
print(df_teams)

  Football Team  Number of Championships
0   Galatasaray                       25
1    Fenerbahçe                       19
2      Beşiktaş                       16
3   Trabzonspor                        7
4    Başakşehir                        1
5     Bursaspor                        1