# Select Rows and Columns Using Pandas

In [ ]:
# import necessary libraries
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randn(4, 4), index = ['A', 'B','C', 'D'], columns = ['Column1','Column2','Column3','Column4'])
print("***********************DataFrame ***********************")
print(df)

***********************DataFrame ***********************
    Column1   Column2   Column3   Column4
A  1.379573 -0.820757 -0.689588  0.648073
B  0.423529 -1.346801 -1.005498  2.418225
C  2.518708  0.429870  0.208877 -0.402134
D -0.571662  0.358463 -0.573107 -1.034816

In [6]:
col1 = df["Column1"]
print(f"****** Column1 ******\n{col1}")
print(f"Type of column1: {type(col1)}\n")

****** Column1 ******
A    1.379573
B    0.423529
C    2.518708
D   -0.571662
Name: Column1, dtype: float64
Type of column1: <class 'pandas.core.series.Series'>

In [8]:
first_two_cols = df[["Column1", "Column2"]]
print(f"****** First Two Columns ******")
print(f"{first_two_cols}\nType of first_two_columns: {type(first_two_cols)}")

****** First Two Columns ******
    Column1   Column2
A  1.379573 -0.820757
B  0.423529 -1.346801
C  2.518708  0.429870
D -0.571662  0.358463
Type of first_two_columns: <class 'pandas.core.frame.DataFrame'>

In [9]:
# Select by row
row_selection = df.loc["A"] # loc => location
print("****** Row Selection Example ******")
print(row_selection, "\n", "Type of row_selection:", type(row_selection))

****** Row Selection Example ******
Column1    1.379573
Column2   -0.820757
Column3   -0.689588
Column4    0.648073
Name: A, dtype: float64
 Type of row_selection: <class 'pandas.core.series.Series'>

In [23]:
# loc usage
# loc["row", "column"]
print("************************* Loc Operations *************************")
loc_example1 = df.loc["B"]
print(loc_example1)
print("*"*50)

loc_example2 = df.loc[:,"Column3"]
print(loc_example2)
print("*"*50)

loc_example3 = df.loc[:, ["Column2", "Column4"]]
print(loc_example3)
print("*"*50)

loc_example4 = df.loc[:,"Column1":"Column2" ]# select all rows but only select column1 and column2 of columns
print(loc_example4)
print("*"*50)

loc_example5 = df.loc["B":"D", "Column3":"Column4"]
print(loc_example5)
print("*"*50)

loc_example6 = df.loc["C", "Column2"]
print(loc_example6)
print("*"*50)

loc_example7 = df.loc[["B","D"], ["Column2", "Column4"]]
print(loc_example7)
print("*"*50)

************************* Loc Operations *************************
Column1    0.423529
Column2   -1.346801
Column3   -1.005498
Column4    2.418225
Name: B, dtype: float64
**************************************************
A   -0.689588
B   -1.005498
C    0.208877
D   -0.573107
Name: Column3, dtype: float64
**************************************************
    Column2   Column4
A -0.820757  0.648073
B -1.346801  2.418225
C  0.429870 -0.402134
D  0.358463 -1.034816
**************************************************
    Column1   Column2
A  1.379573 -0.820757
B  0.423529 -1.346801
C  2.518708  0.429870
D -0.571662  0.358463
**************************************************
    Column3   Column4
B -1.005498  2.418225
C  0.208877 -0.402134
D -0.573107 -1.034816
**************************************************
0.42987014641395843
**************************************************
    Column2   Column4
B -1.346801  2.418225
D  0.358463 -1.034816
**************************************************

In [21]:
# iloc usage => integer location
print("************************* ILoc Operations *************************")
iloc_example1 = df.iloc[2]
print(iloc_example1)
print("*"*50)

iloc_example2 = df.iloc[2, 1] # row in the second index and column in the first index
print(iloc_example2)
print("*"*50)

iloc_example3 = df.iloc[:, 0:2]
print(iloc_example3)
print("*"*50)

iloc_example4 = df.iloc[0:2, :]
print(iloc_example4)
print("*"*50)


iloc_example5 = df.iloc[1:3, 0:2]
print(iloc_example5)
print("*"*50)

************************* ILoc Operations *************************
Column1    2.518708
Column2    0.429870
Column3    0.208877
Column4   -0.402134
Name: C, dtype: float64
**************************************************
0.42987014641395843
**************************************************
    Column1   Column2
A  1.379573 -0.820757
B  0.423529 -1.346801
C  2.518708  0.429870
D -0.571662  0.358463
**************************************************
    Column1   Column2   Column3   Column4
A  1.379573 -0.820757 -0.689588  0.648073
B  0.423529 -1.346801 -1.005498  2.418225
**************************************************
    Column1   Column2
B  0.423529 -1.346801
C  2.518708  0.429870
**************************************************

In [26]:
df["Column5"] = pd.Series(np.random.randn(4), ["A","B","C","D"])
df["Column6"] = pd.Series(np.random.randn(4), ["A","B","C","D"])
df["Column7"] = df["Column6"] - df["Column1"]

print("**************************** New DataFrame ****************************")
print(df)
# Drop

**************************** New DataFrame ****************************
    Column1   Column2   Column3   Column4   Column5   Column6   Column7
A  1.379573 -0.820757 -0.689588  0.648073  2.063439 -0.585999 -1.965572
B  0.423529 -1.346801 -1.005498  2.418225 -0.064732  1.142655  0.719125
C  2.518708  0.429870  0.208877 -0.402134 -0.239616  0.617184 -1.901524
D -0.571662  0.358463 -0.573107 -1.034816  0.837141  0.001193  0.572855

In [28]:
# use of drop method
# axis = 0  => x       axis = 1  => y
df.drop("Column7", axis = 1, inplace= True) # give an axis value 
print("****************************** Example of using drop method ******************************")
print(df)
print("*"*len("****************************** Example of using drop method ******************************"))

****************************** Example of using drop method ******************************
    Column1   Column2   Column3   Column4   Column5   Column6
A  1.379573 -0.820757 -0.689588  0.648073  2.063439 -0.585999
B  0.423529 -1.346801 -1.005498  2.418225 -0.064732  1.142655
C  2.518708  0.429870  0.208877 -0.402134 -0.239616  0.617184
D -0.571662  0.358463 -0.573107 -1.034816  0.837141  0.001193
******************************************************************************************