# Reading Files from Different Data Types
We can read files of different data formats using the Pandas library.

Commonly used formats include CSV, JSON, and Excel (XLSX) files.

o pd.read_csv()

o pd.read_json()

o pd.read_excel()

o pd.read_sql()

o pd.read_sql_query()

etc ...

In [ ]:
# import Pandas
import pandas as pd

# Set options
pd.set_option("display.max_columns", 500)
pd.set_option("display.max_rows", 500)
pd.set_option("display.float_format", lambda x: '%.3f' % x)
pd.set_option("display.width", 500)

# read csv files
file_path = r"D:\PandasForDataAnalysis\datasets\students_social_media_addiction.csv"
try:
    df = pd.read_csv(file_path)
    print(df.head())
except FileNotFoundError:
    raise FileNotFoundError("Sorry, File Path Not Found. Please check the file path")

   Student_ID  Age  Gender Academic_Level     Country  Avg_Daily_Usage_Hours Most_Used_Platform Affects_Academic_Performance  Sleep_Hours_Per_Night  Mental_Health_Score Relationship_Status  Conflicts_Over_Social_Media  Addicted_Score
0           1   19  Female  Undergraduate  Bangladesh                  5.200          Instagram                          Yes                  6.500                    6     In Relationship                            3               8
1           2   22    Male       Graduate       India                  2.100            Twitter                           No                  7.500                    8              Single                            0               3
2           3   20  Female  Undergraduate         USA                  6.000             TikTok                          Yes                  5.000                    5         Complicated                            4               9
3           4   18    Male    High School          UK                  3.000            YouTube                           No                  7.000                    7              Single                            1               4
4           5   21    Male       Graduate      Canada                  4.500           Facebook                          Yes                  6.000                    6     In Relationship                            2               7

In [11]:
# read json format
anime_file_path = r"D:\PandasForDataAnalysis\datasets\anime_manga_data.json"
try:
    df_anime = pd.read_json(anime_file_path)
    print(df_anime.head(10))
except FileNotFoundError:
    raise FileNotFoundError("Sorry, File Path Not Found. Please check the file path")

   id           title   type                               genre  episodes_or_chapters     status  rating  year
0   1   Anime Title 1  Anime         [Action, Sci-Fi, Adventure]                   152     Hiatus   9.090  1993
1   2   Anime Title 2  Anime                           [Romance]                    97    Ongoing   6.880  1999
2   3   Anime Title 3  Manga                   [Comedy, Mystery]                    66  Completed   8.300  2006
3   4   Anime Title 4  Manga          [Horror, Romance, Mystery]                   193  Completed   9.010  2011
4   5   Anime Title 5  Manga          [Sci-Fi, Mystery, Romance]                    22  Completed   9.190  2016
5   6   Anime Title 6  Anime  [Slice of Life, Adventure, Comedy]                    39  Completed   8.300  1995
6   7   Anime Title 7  Manga              [Drama, Slice of Life]                   161  Completed   9.300  2011
7   8   Anime Title 8  Anime            [Horror, Drama, Mystery]                    23  Completed   9.340  1997
8   9   Anime Title 9  Manga                    [Comedy, Action]                   150     Hiatus   7.510  2002
9  10  Anime Title 10  Manga             [Drama, Action, Horror]                   103     Hiatus   6.630  2011

In [15]:
# set index
df_anime = df_anime.reset_index(drop = True)
df_anime =df_anime.set_index("id")
df_anime.head()

    index          title   type                        genre  episodes_or_chapters     status  rating  year
id
1       0  Anime Title 1  Anime  [Action, Sci-Fi, Adventure]                   152     Hiatus   9.090  1993
2       1  Anime Title 2  Anime                    [Romance]                    97    Ongoing   6.880  1999
3       2  Anime Title 3  Manga            [Comedy, Mystery]                    66  Completed   8.300  2006
4       3  Anime Title 4  Manga   [Horror, Romance, Mystery]                   193  Completed   9.010  2011
5       4  Anime Title 5  Manga   [Sci-Fi, Mystery, Romance]                    22  Completed   9.190  2016